<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <true/>
        <key>type</key>
        <string>cannedDesign</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.@weight.800.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>0.25</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpace.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceBar.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceBarRegion.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceOverlap.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacer.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacerDebug.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacerOverlap.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/FontDevelopment/VijfZeven/VijfZevUltLig.otf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.fbInterpolate.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>0.25</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>0.5</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.freetype.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.model.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.noverlap.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.robohint.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.75</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.weight800.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>CircleSquare@cnco1000</string>
          <string>CircleSquare@slnt0</string>
          <string>CircleSquare@sqri1000</string>
          <string>CircleSquare@rndi1000</string>
          <string>CircleSquare@wght500</string>
          <string>CircleSquare@line1000</string>
          <string>CircleSquare@open0</string>
          <string>CircleSquare@sqro1000</string>
          <string>CircleSquare@rndo1000</string>
          <string>CircleSquare@cnci1000</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>fbCurvePalet</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>99</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>99</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
    <key>fbtools</key>
    <dict>
      <key>FlightPath</key>
      <string>OGL</string>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>Pix01@10</string>
      <string>Pix02@10</string>
      <string>Pix03@10</string>
      <string>Pix04@10</string>
      <string>Pix05@10</string>
      <string>Pix06@10</string>
      <string>Pix07@10</string>
      <string>Pix08@10</string>
      <string>Pix09@10</string>
      <string>Pix10@10</string>
      <string>Pix11@10</string>
      <string>Pix12@10</string>
      <string>Pixel@MODEL</string>
      <string>Pix01@00</string>
      <string>Pix02@00</string>
      <string>Pix03@00</string>
      <string>Pix04@00</string>
      <string>Pix05@00</string>
      <string>Pix06@00</string>
      <string>Pix07@00</string>
      <string>Pix08@00</string>
      <string>Pix09@00</string>
      <string>Pix10@00</string>
      <string>Pix11@00</string>
      <string>Pix12@00</string>
      <string>Pix01@20</string>
      <string>Pix02@20</string>
      <string>Pix03@20</string>
      <string>Pix04@20</string>
      <string>Pix05@20</string>
      <string>Pix06@20</string>
      <string>Pix07@20</string>
      <string>Pix08@20</string>
      <string>Pix09@20</string>
      <string>Pix10@20</string>
      <string>Pix11@20</string>
      <string>Pix12@20</string>
      <string>Pix01@11</string>
      <string>Pix02@11</string>
      <string>Pix03@11</string>
      <string>Pix04@11</string>
      <string>Pix05@11</string>
      <string>Pix06@11</string>
      <string>Pix07@11</string>
      <string>Pix08@11</string>
      <string>Pix09@11</string>
      <string>Pix10@11</string>
      <string>Pix11@11</string>
      <string>Pix12@11</string>
      <string>Pix01@01</string>
      <string>Pix02@01</string>
      <string>Pix03@01</string>
      <string>Pix04@01</string>
      <string>Pix05@01</string>
      <string>Pix06@01</string>
      <string>Pix07@01</string>
      <string>Pix08@01</string>
      <string>Pix09@01</string>
      <string>Pix10@01</string>
      <string>Pix11@01</string>
      <string>Pix12@01</string>
      <string>Pix01@21</string>
      <string>Pix02@21</string>
      <string>Pix03@21</string>
      <string>Pix04@21</string>
      <string>Pix05@21</string>
      <string>Pix06@21</string>
      <string>Pix07@21</string>
      <string>Pix08@21</string>
      <string>Pix09@21</string>
      <string>Pix10@21</string>
      <string>Pix11@21</string>
      <string>Pix12@21</string>
      <string>Pix08@11_i</string>
      <string>Pix05@11_i</string>
      <string>Pix05@20_i</string>
      <string>Pix02@11_i</string>
      <string>Pix03@01_i</string>
      <string>Pix04@11_i</string>
      <string>Pix01@11_i</string>
      <string>Pix04@01_i</string>
      <string>Pix05@21_i</string>
      <string>Pix07@01_i</string>
      <string>Pix02@01_i</string>
      <string>Pix11@20_i</string>
      <string>Pix08@21_i</string>
      <string>Pix05@01_i</string>
      <string>Pix09@00_i</string>
      <string>Pix09@01_i</string>
      <string>Pix08@10_i</string>
      <string>Pix01@01_i</string>
      <string>Pix09@10_i</string>
      <string>Pix11@11_i</string>
      <string>Pix10@21_i</string>
      <string>Pix10@11_i</string>
      <string>Pix03@11_i</string>
      <string>Pix09@20_i</string>
      <string>Pix12@11_i</string>
      <string>Pix11@00_i</string>
      <string>Pix11@21_i</string>
      <string>Pix01@21_i</string>
      <string>Pix04@20_i</string>
      <string>Pix10@10_i</string>
      <string>Pix02@20_i</string>
      <string>Pix12@01_i</string>
      <string>Pix06@01_i</string>
      <string>Pix06@21_i</string>
      <string>Pix12@20_i</string>
      <string>Pix02@21_i</string>
      <string>Pix07@10_i</string>
      <string>Pix04@10_i</string>
      <string>Pix09@21_i</string>
      <string>Pix02@10_i</string>
      <string>Pix03@21_i</string>
      <string>Pix01@20_i</string>
      <string>Pix08@00_i</string>
      <string>Pix09@11_i</string>
      <string>Pix03@20_i</string>
      <string>Pix08@01_i</string>
      <string>Pix01@10_i</string>
      <string>Pix03@10_i</string>
      <string>Pix11@01_i</string>
      <string>Pix10@20_i</string>
      <string>Pix06@11_i</string>
      <string>Pixel@MODEL_i</string>
      <string>Pix08@20_i</string>
      <string>Pix05@00_i</string>
      <string>Pix03@00_i</string>
      <string>Pix12@00_i</string>
      <string>Pix06@00_i</string>
      <string>Pix12@21_i</string>
      <string>Pix04@21_i</string>
      <string>Pix12@10_i</string>
      <string>Pix07@00_i</string>
      <string>Pix02@00_i</string>
      <string>Pix05@10_i</string>
      <string>Pix07@21_i</string>
      <string>Pix07@20_i</string>
      <string>Pix06@10_i</string>
      <string>Pix11@10_i</string>
      <string>Pix10@00_i</string>
      <string>Pix01@00_i</string>
      <string>Pix06@20_i</string>
      <string>Pix04@00_i</string>
      <string>Pix07@11_i</string>
      <string>Pix10@01_i</string>
    </array>
    <key>tnCurvePalet</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>98</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>98</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
    <key>tnCurvePalette</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>82</integer>
      <key>sliderBottomMin</key>
      <integer>51</integer>
      <key>sliderTopMax</key>
      <integer>82</integer>
      <key>sliderTopMin</key>
      <integer>51</integer>
    </dict>
    <key>public.openTypeMeta</key>
    <dict>
      <key>dlng</key>
      <array>
        <string>Latn</string>
      </array>
      <key>slng</key>
      <array>
        <string>Latn</string>
      </array>
    </dict>
  </dict>
</plist>
