<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.@weight.800.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>0.25</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpace.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceBar.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceBarRegion.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpaceOverlap.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacer.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacerDebug.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.AutoSpacerOverlap.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/FontDevelopment/VijfZeven/VijfZevUltLig.otf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.fbInterpolate.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>0.25</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>0.5</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.freetype.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.75</real>
      <real>0.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.model.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.noverlap.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.robohint.layerStrokeColor</key>
    <array>
      <real>1.0</real>
      <real>0.0</real>
      <real>0.75</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>qcurve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.weight800.layerStrokeColor</key>
    <array>
      <real>0.0</real>
      <real>1.0</real>
      <real>0.25</real>
      <real>0.7</real>
    </array>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>CircleSquareItalic@wght500line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquare@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght1000line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open0</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquare@wght1000line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquare@wght1000line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght1000line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line0rndo1000sqro1000cnco1000rndi0sqri1000cnci0open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line0rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci0open0</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght1000line0rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquare@wght0line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco1000rndi1000sqri0cnci1000open0</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo1000sqro1000cnco1000rndi0sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght500line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro1000cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi0sqri0cnci0open1000</string>
          <string>CircleSquareItalic@wght500line1000rndo1000sqro1000cnco0rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght500line1000rndo0sqro0cnco1000rndi1000sqri1000cnci1000open0</string>
          <string>CircleSquare@wght0line1000rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open0</string>
          <string>CircleSquareItalic@wght1000line1000rndo1000sqro0cnco0rndi1000sqri1000cnci1000open1000</string>
          <string>CircleSquareItalic@wght0line0rndo1000sqro1000cnco1000rndi1000sqri1000cnci0open1000</string>
          <string>CircleSquareItalic@wght1000line1000rndo0sqro1000cnco1000rndi1000sqri1000cnci1000open1000</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>fbCurvePalet</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>99</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>99</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
    <key>fbtools</key>
    <dict>
      <key>FlightPath</key>
      <string>OGL</string>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>InstanceItalic@LineSquare-Regular</string>
      <string>Instance@OpenLineCircle-Thin</string>
      <string>InstanceItalic@Circle-Thin</string>
      <string>InstanceItalic@Plus-Thin</string>
      <string>Instance@Circle-Bold</string>
      <string>InstanceItalic@OpenLineSquare-Thin</string>
      <string>Instance@OpenLineSquare-Black</string>
      <string>Instance@OpenCircle-Semibold</string>
      <string>InstanceItalic@Circle-Regular</string>
      <string>InstanceItalic@Circle-Black</string>
      <string>Instance@Square-Book</string>
      <string>InstanceItalic@OpenLineSquare-Regular</string>
      <string>Instance@OpenCircle-Book</string>
      <string>Instance@Plus-Thin</string>
      <string>InstanceItalic@OpenCircle-Black</string>
      <string>Instance@LineCircle-Semibold</string>
      <string>CircleSquare@sqri1000</string>
      <string>CircleSquare@rndi1000</string>
      <string>InstanceItalic@OpenSquare-Regular</string>
      <string>Instance@OpenSquare-Regular</string>
      <string>Instance@OpenLineCircle-Book</string>
      <string>InstanceItalic@OpenSquare-Bold</string>
      <string>InstanceItalic@LineSquare-Bold</string>
      <string>CircleSquare@wght500</string>
      <string>InstanceItalic@Plus-Book</string>
      <string>Instance@Square-Semibold</string>
      <string>Instance@OpenLineSquare-Thin</string>
      <string>InstanceItalic@Square-Thin</string>
      <string>InstanceItalic@OpenLineCircle-Regular</string>
      <string>Instance@Plus-Book</string>
      <string>CircleSquare@line1000</string>
      <string>Instance@OpenLineSquare-Bold</string>
      <string>CircleSquare@open0</string>
      <string>Instance@LineCircle-Thin</string>
      <string>Instance@OpenSquare-Bold</string>
      <string>Instance@OpenLineCircle-Bold</string>
      <string>InstanceItalic@OpenLineSquare-Semibold</string>
      <string>InstanceItalic@OpenSquare-Book</string>
      <string>Instance@Plus-Regular</string>
      <string>Instance@OpenLineCircle-Black</string>
      <string>Instance@Circle-Thin</string>
      <string>Instance@LineCircle-Bold</string>
      <string>Instance@OpenCircle-Black</string>
      <string>InstanceItalic@LineCircle-Regular</string>
      <string>Instance@LineCircle-Black</string>
      <string>Instance@LineSquare-Black</string>
      <string>Instance@OpenLineSquare-Book</string>
      <string>InstanceItalic@LineSquare-Semibold</string>
      <string>Instance@Plus-Bold</string>
      <string>InstanceItalic@LineCircle-Bold</string>
      <string>Instance@LineSquare-Thin</string>
      <string>Instance@OpenCircle-Thin</string>
      <string>Instance@OpenLineCircle-Semibold</string>
      <string>Instance@Circle-Regular</string>
      <string>InstanceItalic@OpenLineCircle-Semibold</string>
      <string>InstanceItalic@LineSquare-Black</string>
      <string>InstanceItalic@Circle-Book</string>
      <string>InstanceItalic@Square-Regular</string>
      <string>Instance@Square-Bold</string>
      <string>InstanceItalic@Circle-Semibold</string>
      <string>InstanceItalic@LineCircle-Semibold</string>
      <string>InstanceItalic@OpenLineSquare-Black</string>
      <string>InstanceItalic@OpenLineCircle-Thin</string>
      <string>InstanceItalic@Plus-Semibold</string>
      <string>InstanceItalic@OpenCircle-Thin</string>
      <string>Instance@OpenSquare-Semibold</string>
      <string>InstanceItalic@OpenSquare-Thin</string>
      <string>InstanceItalic@OpenLineSquare-Bold</string>
      <string>Instance@Plus-Semibold</string>
      <string>Instance@Plus-Black</string>
      <string>InstanceItalic@OpenCircle-Regular</string>
      <string>CircleSquare@sqro1000</string>
      <string>Instance@OpenCircle-Regular</string>
      <string>InstanceItalic@OpenLineSquare-Book</string>
      <string>InstanceItalic@OpenLineCircle-Black</string>
      <string>InstanceItalic@OpenLineCircle-Book</string>
      <string>Instance@Square-Black</string>
      <string>Instance@OpenSquare-Thin</string>
      <string>Instance@LineSquare-Semibold</string>
      <string>InstanceItalic@Square-Black</string>
      <string>InstanceItalic@Square-Bold</string>
      <string>InstanceItalic@OpenCircle-Semibold</string>
      <string>CircleSquare@rndo1000</string>
      <string>Instance@LineSquare-Bold</string>
      <string>Instance@OpenCircle-Bold</string>
      <string>Instance@LineCircle-Regular</string>
      <string>Instance@OpenLineSquare-Semibold</string>
      <string>Instance@Circle-Semibold</string>
      <string>InstanceItalic@Square-Book</string>
      <string>Instance@OpenLineCircle-Regular</string>
      <string>InstanceItalic@OpenCircle-Bold</string>
      <string>InstanceItalic@LineSquare-Book</string>
      <string>InstanceItalic@OpenSquare-Semibold</string>
      <string>InstanceItalic@OpenLineCircle-Bold</string>
      <string>InstanceItalic@Plus-Bold</string>
      <string>Instance@Square-Thin</string>
      <string>Instance@Square-Regular</string>
      <string>InstanceItalic@LineCircle-Black</string>
      <string>Instance@LineSquare-Book</string>
      <string>InstanceItalic@OpenCircle-Book</string>
      <string>Instance@LineCircle-Book</string>
      <string>Instance@Circle-Book</string>
      <string>InstanceItalic@LineCircle-Book</string>
      <string>Instance@LineSquare-Regular</string>
      <string>Instance@Circle-Black</string>
      <string>InstanceItalic@Plus-Black</string>
      <string>InstanceItalic@Square-Semibold</string>
      <string>InstanceItalic@OpenSquare-Black</string>
      <string>Instance@OpenSquare-Book</string>
      <string>Instance@OpenLineSquare-Regular</string>
      <string>CircleSquare@cnci1000</string>
      <string>Instance@OpenSquare-Black</string>
      <string>InstanceItalic@LineSquare-Thin</string>
      <string>InstanceItalic@LineCircle-Thin</string>
      <string>InstanceItalic@Plus-Regular</string>
      <string>InstanceItalic@Circle-Bold</string>
    </array>
    <key>tnCurvePalet</key>
    <dict>
      <key>sliderBottomMax</key>
      <integer>80</integer>
      <key>sliderBottomMin</key>
      <integer>30</integer>
      <key>sliderTopMax</key>
      <integer>80</integer>
      <key>sliderTopMin</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
