<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CircleSquare@CNCO1000</key>
	<string>CircleSquare@CNCO1000_.glif</string>
	<key>CircleSquare@SLNT0</key>
	<string>CircleSquare@SLNT0_.glif</string>
	<key>CircleSquare@cnci1000</key>
	<string>CircleSquare@cnci1000_.glif</string>
	<key>CircleSquare@line1000</key>
	<string>CircleSquare@line1000_.glif</string>
	<key>CircleSquare@open0</key>
	<string>CircleSquare@open0_.glif</string>
	<key>CircleSquare@rndi1000</key>
	<string>CircleSquare@rndi1000_.glif</string>
	<key>CircleSquare@rndo1000</key>
	<string>CircleSquare@rndo1000_.glif</string>
	<key>CircleSquare@sqri1000</key>
	<string>CircleSquare@sqri1000_.glif</string>
	<key>CircleSquare@sqro1000</key>
	<string>CircleSquare@sqro1000_.glif</string>
	<key>CircleSquare@wght500</key>
	<string>CircleSquare@wght500_.glif</string>
	<key>Instance@Circle-Black</key>
	<string>Instance@Circle-Black_.glif</string>
	<key>Instance@Circle-Bold</key>
	<string>Instance@Circle-Bold_.glif</string>
	<key>Instance@Circle-Book</key>
	<string>Instance@Circle-Book_.glif</string>
	<key>Instance@Circle-Regular</key>
	<string>Instance@Circle-Regular_.glif</string>
	<key>Instance@Circle-Semibold</key>
	<string>Instance@Circle-Semibold_.glif</string>
	<key>Instance@Circle-Thin</key>
	<string>Instance@Circle-Thin_.glif</string>
	<key>Instance@LineCircle-Black</key>
	<string>Instance@LineCircle-Black_.glif</string>
	<key>Instance@LineCircle-Bold</key>
	<string>Instance@LineCircle-Bold_.glif</string>
	<key>Instance@LineCircle-Book</key>
	<string>Instance@LineCircle-Book_.glif</string>
	<key>Instance@LineCircle-Regular</key>
	<string>Instance@LineCircle-Regular_.glif</string>
	<key>Instance@LineCircle-Semibold</key>
	<string>Instance@LineCircle-Semibold_.glif</string>
	<key>Instance@LineCircle-Thin</key>
	<string>Instance@LineCircle-Thin_.glif</string>
	<key>Instance@LineSquare-Black</key>
	<string>Instance@LineSquare-Black_.glif</string>
	<key>Instance@LineSquare-Bold</key>
	<string>Instance@LineSquare-Bold_.glif</string>
	<key>Instance@LineSquare-Book</key>
	<string>Instance@LineSquare-Book_.glif</string>
	<key>Instance@LineSquare-Regular</key>
	<string>Instance@LineSquare-Regular_.glif</string>
	<key>Instance@LineSquare-Semibold</key>
	<string>Instance@LineSquare-Semibold_.glif</string>
	<key>Instance@LineSquare-Thin</key>
	<string>Instance@LineSquare-Thin_.glif</string>
	<key>Instance@OpenCircle-Black</key>
	<string>Instance@OpenCircle-Black_.glif</string>
	<key>Instance@OpenCircle-Bold</key>
	<string>Instance@OpenCircle-Bold_.glif</string>
	<key>Instance@OpenCircle-Book</key>
	<string>Instance@OpenCircle-Book_.glif</string>
	<key>Instance@OpenCircle-Regular</key>
	<string>Instance@OpenCircle-Regular_.glif</string>
	<key>Instance@OpenCircle-Semibold</key>
	<string>Instance@OpenCircle-Semibold_.glif</string>
	<key>Instance@OpenCircle-Thin</key>
	<string>Instance@OpenCircle-Thin_.glif</string>
	<key>Instance@OpenLineCircle-Black</key>
	<string>Instance@OpenLineCircle-Black_.glif</string>
	<key>Instance@OpenLineCircle-Bold</key>
	<string>Instance@OpenLineCircle-Bold_.glif</string>
	<key>Instance@OpenLineCircle-Book</key>
	<string>Instance@OpenLineCircle-Book_.glif</string>
	<key>Instance@OpenLineCircle-Regular</key>
	<string>Instance@OpenLineCircle-Regular_.glif</string>
	<key>Instance@OpenLineCircle-Semibold</key>
	<string>Instance@OpenLineCircle-Semibold_.glif</string>
	<key>Instance@OpenLineCircle-Thin</key>
	<string>Instance@OpenLineCircle-Thin_.glif</string>
	<key>Instance@OpenLineSquare-Black</key>
	<string>Instance@OpenLineSquare-Black_.glif</string>
	<key>Instance@OpenLineSquare-Bold</key>
	<string>Instance@OpenLineSquare-Bold_.glif</string>
	<key>Instance@OpenLineSquare-Book</key>
	<string>Instance@OpenLineSquare-Book_.glif</string>
	<key>Instance@OpenLineSquare-Regular</key>
	<string>Instance@OpenLineSquare-Regular_.glif</string>
	<key>Instance@OpenLineSquare-Semibold</key>
	<string>Instance@OpenLineSquare-Semibold_.glif</string>
	<key>Instance@OpenLineSquare-Thin</key>
	<string>Instance@OpenLineSquare-Thin_.glif</string>
	<key>Instance@OpenSquare-Black</key>
	<string>Instance@OpenSquare-Black_.glif</string>
	<key>Instance@OpenSquare-Bold</key>
	<string>Instance@OpenSquare-Bold_.glif</string>
	<key>Instance@OpenSquare-Book</key>
	<string>Instance@OpenSquare-Book_.glif</string>
	<key>Instance@OpenSquare-Regular</key>
	<string>Instance@OpenSquare-Regular_.glif</string>
	<key>Instance@OpenSquare-Semibold</key>
	<string>Instance@OpenSquare-Semibold_.glif</string>
	<key>Instance@OpenSquare-Thin</key>
	<string>Instance@OpenSquare-Thin_.glif</string>
	<key>Instance@Plus-Black</key>
	<string>Instance@Plus-Black_.glif</string>
	<key>Instance@Plus-Bold</key>
	<string>Instance@Plus-Bold_.glif</string>
	<key>Instance@Plus-Book</key>
	<string>Instance@Plus-Book_.glif</string>
	<key>Instance@Plus-Regular</key>
	<string>Instance@Plus-Regular_.glif</string>
	<key>Instance@Plus-Semibold</key>
	<string>Instance@Plus-Semibold_.glif</string>
	<key>Instance@Plus-Thin</key>
	<string>Instance@Plus-Thin_.glif</string>
	<key>Instance@Square-Black</key>
	<string>Instance@Square-Black_.glif</string>
	<key>Instance@Square-Bold</key>
	<string>Instance@Square-Bold_.glif</string>
	<key>Instance@Square-Book</key>
	<string>Instance@Square-Book_.glif</string>
	<key>Instance@Square-Regular</key>
	<string>Instance@Square-Regular_.glif</string>
	<key>Instance@Square-Semibold</key>
	<string>Instance@Square-Semibold_.glif</string>
	<key>Instance@Square-Thin</key>
	<string>Instance@Square-Thin_.glif</string>
	<key>InstanceItalic@Circle-Black</key>
	<string>InstanceItalic@Circle-Black_.glif</string>
	<key>InstanceItalic@Circle-Bold</key>
	<string>InstanceItalic@Circle-Bold_.glif</string>
	<key>InstanceItalic@Circle-Book</key>
	<string>InstanceItalic@Circle-Book_.glif</string>
	<key>InstanceItalic@Circle-Regular</key>
	<string>InstanceItalic@Circle-Regular_.glif</string>
	<key>InstanceItalic@Circle-Semibold</key>
	<string>InstanceItalic@Circle-Semibold_.glif</string>
	<key>InstanceItalic@Circle-Thin</key>
	<string>InstanceItalic@Circle-Thin_.glif</string>
	<key>InstanceItalic@LineCircle-Black</key>
	<string>InstanceItalic@LineCircle-Black_.glif</string>
	<key>InstanceItalic@LineCircle-Bold</key>
	<string>InstanceItalic@LineCircle-Bold_.glif</string>
	<key>InstanceItalic@LineCircle-Book</key>
	<string>InstanceItalic@LineCircle-Book_.glif</string>
	<key>InstanceItalic@LineCircle-Regular</key>
	<string>InstanceItalic@LineCircle-Regular_.glif</string>
	<key>InstanceItalic@LineCircle-Semibold</key>
	<string>InstanceItalic@LineCircle-Semibold_.glif</string>
	<key>InstanceItalic@LineCircle-Thin</key>
	<string>InstanceItalic@LineCircle-Thin_.glif</string>
	<key>InstanceItalic@LineSquare-Black</key>
	<string>InstanceItalic@LineSquare-Black_.glif</string>
	<key>InstanceItalic@LineSquare-Bold</key>
	<string>InstanceItalic@LineSquare-Bold_.glif</string>
	<key>InstanceItalic@LineSquare-Book</key>
	<string>InstanceItalic@LineSquare-Book_.glif</string>
	<key>InstanceItalic@LineSquare-Regular</key>
	<string>InstanceItalic@LineSquare-Regular_.glif</string>
	<key>InstanceItalic@LineSquare-Semibold</key>
	<string>InstanceItalic@LineSquare-Semibold_.glif</string>
	<key>InstanceItalic@LineSquare-Thin</key>
	<string>InstanceItalic@LineSquare-Thin_.glif</string>
	<key>InstanceItalic@OpenCircle-Black</key>
	<string>InstanceItalic@OpenCircle-Black_.glif</string>
	<key>InstanceItalic@OpenCircle-Bold</key>
	<string>InstanceItalic@OpenCircle-Bold_.glif</string>
	<key>InstanceItalic@OpenCircle-Book</key>
	<string>InstanceItalic@OpenCircle-Book_.glif</string>
	<key>InstanceItalic@OpenCircle-Regular</key>
	<string>InstanceItalic@OpenCircle-Regular_.glif</string>
	<key>InstanceItalic@OpenCircle-Semibold</key>
	<string>InstanceItalic@OpenCircle-Semibold_.glif</string>
	<key>InstanceItalic@OpenCircle-Thin</key>
	<string>InstanceItalic@OpenCircle-Thin_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Black</key>
	<string>InstanceItalic@OpenLineCircle-Black_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Bold</key>
	<string>InstanceItalic@OpenLineCircle-Bold_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Book</key>
	<string>InstanceItalic@OpenLineCircle-Book_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Regular</key>
	<string>InstanceItalic@OpenLineCircle-Regular_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Semibold</key>
	<string>InstanceItalic@OpenLineCircle-Semibold_.glif</string>
	<key>InstanceItalic@OpenLineCircle-Thin</key>
	<string>InstanceItalic@OpenLineCircle-Thin_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Black</key>
	<string>InstanceItalic@OpenLineSquare-Black_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Bold</key>
	<string>InstanceItalic@OpenLineSquare-Bold_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Book</key>
	<string>InstanceItalic@OpenLineSquare-Book_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Regular</key>
	<string>InstanceItalic@OpenLineSquare-Regular_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Semibold</key>
	<string>InstanceItalic@OpenLineSquare-Semibold_.glif</string>
	<key>InstanceItalic@OpenLineSquare-Thin</key>
	<string>InstanceItalic@OpenLineSquare-Thin_.glif</string>
	<key>InstanceItalic@OpenSquare-Black</key>
	<string>InstanceItalic@OpenSquare-Black_.glif</string>
	<key>InstanceItalic@OpenSquare-Bold</key>
	<string>InstanceItalic@OpenSquare-Bold_.glif</string>
	<key>InstanceItalic@OpenSquare-Book</key>
	<string>InstanceItalic@OpenSquare-Book_.glif</string>
	<key>InstanceItalic@OpenSquare-Regular</key>
	<string>InstanceItalic@OpenSquare-Regular_.glif</string>
	<key>InstanceItalic@OpenSquare-Semibold</key>
	<string>InstanceItalic@OpenSquare-Semibold_.glif</string>
	<key>InstanceItalic@OpenSquare-Thin</key>
	<string>InstanceItalic@OpenSquare-Thin_.glif</string>
	<key>InstanceItalic@Plus-Black</key>
	<string>InstanceItalic@Plus-Black_.glif</string>
	<key>InstanceItalic@Plus-Bold</key>
	<string>InstanceItalic@Plus-Bold_.glif</string>
	<key>InstanceItalic@Plus-Book</key>
	<string>InstanceItalic@Plus-Book_.glif</string>
	<key>InstanceItalic@Plus-Regular</key>
	<string>InstanceItalic@Plus-Regular_.glif</string>
	<key>InstanceItalic@Plus-Semibold</key>
	<string>InstanceItalic@Plus-Semibold_.glif</string>
	<key>InstanceItalic@Plus-Thin</key>
	<string>InstanceItalic@Plus-Thin_.glif</string>
	<key>InstanceItalic@Square-Black</key>
	<string>InstanceItalic@Square-Black_.glif</string>
	<key>InstanceItalic@Square-Bold</key>
	<string>InstanceItalic@Square-Bold_.glif</string>
	<key>InstanceItalic@Square-Book</key>
	<string>InstanceItalic@Square-Book_.glif</string>
	<key>InstanceItalic@Square-Regular</key>
	<string>InstanceItalic@Square-Regular_.glif</string>
	<key>InstanceItalic@Square-Semibold</key>
	<string>InstanceItalic@Square-Semibold_.glif</string>
	<key>InstanceItalic@Square-Thin</key>
	<string>InstanceItalic@Square-Thin_.glif</string>
</dict>
</plist>
