<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>circle</key>
    <string>circle.glif</string>
    <key>square</key>
    <string>square.glif</string>
    <key>stripe</key>
    <string>stripe.glif</string>
    <key>zigzag</key>
    <string>zigzag.glif</string>
  </dict>
</plist>
