<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TYPETR.CurvePalette</key>
    <dict>
      <key>gridSize</key>
      <integer>18</integer>
      <key>maxRange</key>
      <integer>100</integer>
      <key>minRange</key>
      <integer>30</integer>
    </dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>/zigzag</string>
      <string>/square</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3195</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>circle</string>
      <string>square</string>
      <string>hstripe</string>
      <string>zigzag</string>
      <string>circle_large</string>
      <string>square_large</string>
      <string>vstripe</string>
      <string>chess</string>
      <string>vzigzag</string>
      <string>squares2</string>
      <string>squares</string>
      <string>raster</string>
      <string>chesssquare</string>
      <string>circles</string>
      <string>five</string>
      <string>diamond</string>
      <string>star</string>
      <string>triangle</string>
      <string>canvas</string>
      <string>_canvas</string>
    </array>
  </dict>
</plist>
