<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Euro</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>F.xc</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>J.sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>J.xc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>public.kern2.t</key>
		<integer>-100</integer>
	</dict>
	<key>f.xa</key>
	<dict>
		<key>a</key>
		<integer>-100</integer>
		<key>aacute</key>
		<integer>-100</integer>
		<key>acircumflex</key>
		<integer>-100</integer>
		<key>adieresis</key>
		<integer>-100</integer>
		<key>agrave</key>
		<integer>-100</integer>
		<key>aogonek</key>
		<integer>-100</integer>
		<key>aring</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>greater.xc</key>
	<dict>
		<key>one.xc</key>
		<integer>-100</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>one.xc</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
		<key>less.xc</key>
		<integer>-100</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.A_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.quote</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.E_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.E_xc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>fi.xa_xd</key>
		<integer>-100</integer>
		<key>fl.xa_xd</key>
		<integer>-100</integer>
		<key>public.kern2.W_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y_sc</key>
		<integer>-100</integer>
		<key>public.kern2.f_xa_xd_it</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.H_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.H_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
		<key>Jcircumflex.xc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.IMR0</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.IMR0_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.IMR0_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.IMR1down</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.IMR1up</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
		<key>public.kern2.quote</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.K_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.K_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>fi.xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.T_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.Y_sc</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.f_xa</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-200</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.quote</key>
		<integer>-100</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-100</integer>
		<key>public.kern2.quoteright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.L_sc</key>
	<dict>
		<key>public.kern2.T_sc</key>
		<integer>-100</integer>
		<key>public.kern2.W_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y_sc</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.L_xc</key>
	<dict>
		<key>fl.xa</key>
		<integer>-100</integer>
		<key>public.kern2.T_sc</key>
		<integer>-100</integer>
		<key>public.kern2.V_xc</key>
		<integer>-100</integer>
		<key>public.kern2.W_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y_xc</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.f_xa</key>
		<integer>-100</integer>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.P_xc</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.R_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.R_xc</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.AE_sc</key>
		<integer>-100</integer>
		<key>public.kern2.A_sc</key>
		<integer>-100</integer>
		<key>public.kern2.O_sc</key>
		<integer>-100</integer>
		<key>public.kern2.S_sc</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.a_it</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.dcroat</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.g</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-300</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-200</integer>
		<key>public.kern2.hyphen</key>
		<integer>-200</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.quoteright</key>
		<integer>-100</integer>
		<key>public.kern2.s</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.T_xc</key>
	<dict>
		<key>J.sc</key>
		<integer>-100</integer>
		<key>J.sc_xd</key>
		<integer>-100</integer>
		<key>f.xa</key>
		<integer>-100</integer>
		<key>fi.xa</key>
		<integer>-100</integer>
		<key>fi.xa_xd</key>
		<integer>-100</integer>
		<key>fl.xa</key>
		<integer>-100</integer>
		<key>fl.xa_xd</key>
		<integer>-100</integer>
		<key>p.xd_nct</key>
		<integer>-100</integer>
		<key>public.kern2.AE_sc</key>
		<integer>-100</integer>
		<key>public.kern2.A_sc</key>
		<integer>-100</integer>
		<key>public.kern2.H_sc</key>
		<integer>-100</integer>
		<key>public.kern2.IML0_sc</key>
		<integer>-100</integer>
		<key>public.kern2.O_sc</key>
		<integer>-100</integer>
		<key>public.kern2.S_sc</key>
		<integer>-100</integer>
		<key>public.kern2.T_sc</key>
		<integer>-100</integer>
		<key>public.kern2.U_sc</key>
		<integer>-100</integer>
		<key>public.kern2.W_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Y_sc</key>
		<integer>-100</integer>
		<key>public.kern2.Z_sc</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-200</integer>
		<key>public.kern2.ampersand</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.f</key>
		<integer>-200</integer>
		<key>public.kern2.f_xa</key>
		<integer>-100</integer>
		<key>public.kern2.f_xa_xd_it</key>
		<integer>-100</integer>
		<key>public.kern2.g</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft_xc</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen_xc</key>
		<integer>-100</integer>
		<key>public.kern2.n</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.s</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
		<key>public.kern2.u</key>
		<integer>-100</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
		<key>public.kern2.y</key>
		<integer>-100</integer>
		<key>public.kern2.z</key>
		<integer>-100</integer>
		<key>y.nct</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.V_xc</key>
	<dict>
		<key>public.kern2.AE_sc</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.AE</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-200</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.Y_xc</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.AE_sc</key>
		<integer>-100</integer>
		<key>public.kern2.AE_xc</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.Z_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.ampersand</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.bar</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.bracketleft</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.bracketleft_xa</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.comma</key>
	<dict>
		<key>public.kern2.quoteright_xc</key>
		<integer>-100</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.exclam</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.exclamdown</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.bracketright_xa</key>
		<integer>100</integer>
		<key>public.kern2.comma</key>
		<integer>-200</integer>
		<key>public.kern2.guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.guillemotleft</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.guillemotright</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-200</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.guillemotright_xc</key>
	<dict>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.h</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.hyphen</key>
	<dict>
		<key>f.xa</key>
		<integer>-100</integer>
		<key>public.kern2.T</key>
		<integer>-200</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.hyphen_xc</key>
	<dict>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.iMR0</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.mu</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.ord</key>
	<dict>
		<key>public.kern2.H_sc</key>
		<integer>100</integer>
		<key>public.kern2.IML0_sc</key>
		<integer>100</integer>
		<key>public.kern2.O_sc</key>
		<integer>100</integer>
		<key>public.kern2.iML1up</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.paragraph</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.percent</key>
	<dict>
		<key>public.kern2.H_sc</key>
		<integer>100</integer>
		<key>public.kern2.IML0</key>
		<integer>100</integer>
		<key>public.kern2.IML0_sc</key>
		<integer>100</integer>
		<key>public.kern2.O_sc</key>
		<integer>100</integer>
		<key>public.kern2.iML1up</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.questiondown</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>f.xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.T_xc</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.Y_xc</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.exclamdown</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.questiondown</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.quoteleft_xc</key>
	<dict>
		<key>p.xd_nct</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.exclamdown</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-100</integer>
		<key>public.kern2.g</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.questiondown</key>
		<integer>-100</integer>
		<key>public.kern2.s</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.guillemotleft</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.superior</key>
	<dict>
		<key>public.kern2.H_sc</key>
		<integer>100</integer>
		<key>public.kern2.IML0_sc</key>
		<integer>100</integer>
		<key>public.kern2.O_sc</key>
		<integer>100</integer>
		<key>public.kern2.iML1up</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>seven.xc</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>semicolon</key>
		<integer>-100</integer>
	</dict>
	<key>two.xc</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
	</dict>
</dict>
</plist>
