<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.@weight.800.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.25</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpace.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpaceBar.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpaceBarRegion.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpaceOverlap.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpacer.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpacerDebug.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.AutoSpacerOverlap.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/FontDevelopment/VijfZeven/VijfZevUltLig.otf</string>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.fbInterpolate.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.25</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.freetype.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>freetype</string>
		<string>AutoSpacerOverlap</string>
		<string>weight800</string>
		<string>AutoSpace</string>
		<string>@weight.800</string>
		<string>AutoSpaceBarRegion</string>
		<string>robohint</string>
		<string>AutoSpacerDebug</string>
		<string>AutoSpaceOverlap</string>
		<string>AutoSpaceBar</string>
		<string>model</string>
		<string>AutoSpacer</string>
		<string>fbInterpolate</string>
		<string>noverlap</string>
	</array>
	<key>com.typemytype.robofont.model.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.25</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.noverlap.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.robohint.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.75</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>plusminus</string>
				<string>aring</string>
				<string>less</string>
				<string>ograve</string>
				<string>InstanceItalic@Semibold_Open_Square</string>
				<string>V</string>
				<string>dollar</string>
				<string>Instance@Bold_Open_Line_Square</string>
				<string>Instance@Regular_Square</string>
				<string>Instance@Book_Line_Square</string>
				<string>Instance@Book_Open_Line_Square</string>
				<string>Ntilde</string>
				<string>comma</string>
				<string>Yacute</string>
				<string>Atilde</string>
				<string>Instance@Bold_Circle</string>
				<string>ccedilla</string>
				<string>InstanceItalic@Regular_Open_Square</string>
				<string>InstanceItalic@Semibold_Open_Circle</string>
				<string>Instance@Regular_Open_Circle</string>
				<string>NOTInstanceItalic@Black_Open_Line_Circle</string>
				<string>copyright</string>
				<string>InstanceItalic@Book_Line_Square</string>
				<string>yen</string>
				<string>asterisk</string>
				<string>onequarter</string>
				<string>edieresis</string>
				<string>Eacute</string>
				<string>hyphen</string>
				<string>InstanceItalic@Bold_Plus</string>
				<string>oslash</string>
				<string>InstanceItalic@Semibold_Line_Square</string>
				<string>ecircumflex</string>
				<string>greater</string>
				<string>uacute</string>
				<string>L</string>
				<string>InstanceItalic@Bold_Square</string>
				<string>InstanceItalic@Bold_Line_Circle</string>
				<string>b</string>
				<string>five</string>
				<string>T</string>
				<string>underscore</string>
				<string>X</string>
				<string>Idieresis</string>
				<string>cedilla</string>
				<string>Udieresis</string>
				<string>acute</string>
				<string>Instance@Semibold_Circle</string>
				<string>bar</string>
				<string>d</string>
				<string>quotesingle</string>
				<string>h</string>
				<string>InstanceItalic@Regular_Open_Line_Square</string>
				<string>NOTInstance@Black_Open_Line_Circle</string>
				<string>l</string>
				<string>Igrave</string>
				<string>p</string>
				<string>Instance@Book_Circle</string>
				<string>t</string>
				<string>x</string>
				<string>exclamdown</string>
				<string>parenright</string>
				<string>A</string>
				<string>u</string>
				<string>ordfeminine</string>
				<string>Y</string>
				<string>InstanceItalic@Book_Open_Circle</string>
				<string>InstanceItalic@Bold_Open_Square</string>
				<string>InstanceItalic@Book_Plus</string>
				<string>Instance@Book_Square</string>
				<string>Ocircumflex</string>
				<string>zero</string>
				<string>InstanceItalic@Book_Line_Circle</string>
				<string>logicalnot</string>
				<string>agrave</string>
				<string>Instance@Semibold_Open_Line_Circle</string>
				<string>InstanceItalic@Regular_Plus</string>
				<string>braceleft</string>
				<string>InstanceItalic@Regular_Square</string>
				<string>egrave</string>
				<string>Adieresis</string>
				<string>odieresis</string>
				<string>Odieresis</string>
				<string>space</string>
				<string>Instance@Regular_Line_Square</string>
				<string>section</string>
				<string>macron</string>
				<string>Icircumflex</string>
				<string>I</string>
				<string>ntilde</string>
				<string>InstanceItalic@Bold_Circle</string>
				<string>ucircumflex</string>
				<string>slash</string>
				<string>atilde</string>
				<string>Acircumflex</string>
				<string>numbersign</string>
				<string>dotaccent</string>
				<string>NOTInstance@Black_Square</string>
				<string>Oslash</string>
				<string>C</string>
				<string>degree</string>
				<string>InstanceItalic@Book_Circle</string>
				<string>InstanceItalic@Book_Open_Square</string>
				<string>K</string>
				<string>O</string>
				<string>NOTInstance@Black_Open_Line_Square</string>
				<string>S</string>
				<string>guillemotright</string>
				<string>Instance@Regular_Line_Circle</string>
				<string>W</string>
				<string>NOTInstanceItalic@Black_Line_Circle</string>
				<string>exclam</string>
				<string>r</string>
				<string>Instance@Regular_Open_Line_Square</string>
				<string>c</string>
				<string>Instance@Book_Open_Circle</string>
				<string>g</string>
				<string>tilde</string>
				<string>k</string>
				<string>equal</string>
				<string>o</string>
				<string>Edieresis</string>
				<string>s</string>
				<string>plus</string>
				<string>w</string>
				<string>eight</string>
				<string>eth</string>
				<string>threesuperior</string>
				<string>Eth</string>
				<string>udieresis</string>
				<string>Egrave</string>
				<string>Instance@Semibold_Open_Circle</string>
				<string>divide</string>
				<string>Instance@Semibold_Open_Square</string>
				<string>InstanceItalic@Book_Open_Line_Circle</string>
				<string>ocircumflex</string>
				<string>period</string>
				<string>igrave</string>
				<string>one</string>
				<string>acircumflex</string>
				<string>asciitilde</string>
				<string>colon</string>
				<string>Instance@Semibold_Line_Circle</string>
				<string>ring</string>
				<string>hungarumlaut</string>
				<string>parenleft</string>
				<string>Ecircumflex</string>
				<string>InstanceItalic@Regular_Line_Square</string>
				<string>question</string>
				<string>Aacute</string>
				<string>cent</string>
				<string>quoteleft</string>
				<string>InstanceItalic@Semibold_Line_Circle</string>
				<string>otilde</string>
				<string>E</string>
				<string>InstanceItalic@Book_Square</string>
				<string>Instance@Regular_Plus</string>
				<string>B</string>
				<string>iacute</string>
				<string>F</string>
				<string>registered</string>
				<string>J</string>
				<string>Instance@Bold_Square</string>
				<string>Aring</string>
				<string>Otilde</string>
				<string>dieresis</string>
				<string>Instance@Bold_Plus</string>
				<string>bracketleft</string>
				<string>z</string>
				<string>breve</string>
				<string>asciicircum</string>
				<string>Z</string>
				<string>Oacute</string>
				<string>ampersand</string>
				<string>guillemotleft</string>
				<string>onesuperior</string>
				<string>f</string>
				<string>ordmasculine</string>
				<string>j</string>
				<string>n</string>
				<string>mu</string>
				<string>Instance@Bold_Open_Square</string>
				<string>paragraph</string>
				<string>nine</string>
				<string>three</string>
				<string>circumflex</string>
				<string>v</string>
				<string>Ccedilla</string>
				<string>idieresis</string>
				<string>minus</string>
				<string>braceright</string>
				<string>InstanceItalic@Semibold_Square</string>
				<string>seven</string>
				<string>ae</string>
				<string>semicolon</string>
				<string>brokenbar</string>
				<string>InstanceItalic@Bold_Open_Line_Square</string>
				<string>backslash</string>
				<string>InstanceItalic@Semibold_Open_Line_Square</string>
				<string>G</string>
				<string>currency</string>
				<string>ugrave</string>
				<string>Ucircumflex</string>
				<string>at</string>
				<string>Instance@Regular_Circle</string>
				<string>Iacute</string>
				<string>D</string>
				<string>InstanceItalic@Regular_Open_Circle</string>
				<string>dotlessi</string>
				<string>NOTInstanceItalic@Black_Circle</string>
				<string>periodcentered</string>
				<string>Uacute</string>
				<string>six</string>
				<string>percent</string>
				<string>Ugrave</string>
				<string>threequarters</string>
				<string>InstanceItalic@Bold_Line_Square</string>
				<string>yacute</string>
				<string>NOTInstanceItalic@Black_Open_Square</string>
				<string>Instance@Book_Line_Circle</string>
				<string>caron</string>
				<string>quoteright</string>
				<string>adieresis</string>
				<string>bracketright</string>
				<string>sterling</string>
				<string>ydieresis</string>
				<string>quotedbl</string>
				<string>AE</string>
				<string>Agrave</string>
				<string>onehalf</string>
				<string>NOTInstance@Black_Line_Circle</string>
				<string>Thorn</string>
				<string>M</string>
				<string>aacute</string>
				<string>Q</string>
				<string>Instance@Semibold_Open_Line_Square</string>
				<string>U</string>
				<string>two</string>
				<string>multiply</string>
				<string>eacute</string>
				<string>twosuperior</string>
				<string>N</string>
				<string>grave</string>
				<string>germandbls</string>
				<string>a</string>
				<string>Instance@Bold_Line_Circle</string>
				<string>e</string>
				<string>four</string>
				<string>P</string>
				<string>i</string>
				<string>thorn</string>
				<string>ogonek</string>
				<string>m</string>
				<string>q</string>
				<string>Ograve</string>
				<string>R</string>
				<string>icircumflex</string>
				<string>H</string>
				<string>y</string>
				<string>InstanceItalic@Regular_Line_Circle</string>
				<string>questiondown</string>
				<string>oacute</string>
				<string>Instance@Regular_Open_Square</string>
				<string>NOTInstance@Black_Line_Square</string>
				<string>NOTInstanceItalic@Black_Line_Square</string>
				<string>InstanceItalic@Semibold_Plus</string>
				<string>Instance@Bold_Open_Circle</string>
				<string>Instance@Semibold_Line_Square</string>
				<string>Instance@Semibold_Plus</string>
				<string>NOTInstance@Black_Circle</string>
				<string>InstanceItalic@Regular_Open_Line_Circle</string>
				<string>InstanceItalic@Semibold_Open_Line_Circle</string>
				<string>InstanceItalic@Book_Open_Line_Square</string>
				<string>Instance@Book_Open_Square</string>
				<string>Instance@Bold_Line_Square</string>
				<string>InstanceItalic@Regular_Circle</string>
				<string>NOTInstance@Black_Open_Circle</string>
				<string>NOTInstance@Black_Plus</string>
				<string>NOTInstanceItalic@Black_Open_Circle</string>
				<string>NOTInstanceItalic@Black_Open_Line_Square</string>
				<string>NOTInstance@Black_Open_Square</string>
				<string>Instance@Bold_Open_Line_Circle</string>
				<string>InstanceItalic@Bold_Open_Line_Circle</string>
				<string>Instance@Book_Plus</string>
				<string>Instance@Semibold_Square</string>
				<string>NOTInstanceItalic@Black_Plus</string>
				<string>Instance@Book_Open_Line_Circle</string>
				<string>InstanceItalic@Bold_Open_Circle</string>
				<string>NOTInstanceItalic@Black_Square</string>
				<string>Instance@Regular_Open_Line_Circle</string>
				<string>InstanceItalic@Semibold_Circle</string>
				<string>pixel</string>
				<string>matrix.italic</string>
				<string>matrix</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.weight800.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.25</real>
		<real>0.7</real>
	</array>
	<key>fbCurvePalet</key>
	<dict>
		<key>sliderBottomMax</key>
		<integer>99</integer>
		<key>sliderBottomMin</key>
		<integer>30</integer>
		<key>sliderTopMax</key>
		<integer>99</integer>
		<key>sliderTopMin</key>
		<integer>30</integer>
	</dict>
	<key>fbtools</key>
	<dict>
		<key>FlightPath</key>
		<string>OGL</string>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>plusminus</string>
		<string>aring</string>
		<string>less</string>
		<string>ograve</string>
		<string>InstanceItalic@Semibold_Open_Square</string>
		<string>V</string>
		<string>dollar</string>
		<string>Instance@Bold_Open_Line_Square</string>
		<string>Instance@Regular_Square</string>
		<string>Instance@Book_Line_Square</string>
		<string>Instance@Book_Open_Line_Square</string>
		<string>Ntilde</string>
		<string>comma</string>
		<string>Yacute</string>
		<string>Atilde</string>
		<string>Instance@Bold_Circle</string>
		<string>ccedilla</string>
		<string>InstanceItalic@Regular_Open_Square</string>
		<string>InstanceItalic@Semibold_Open_Circle</string>
		<string>Instance@Regular_Open_Circle</string>
		<string>NOTInstanceItalic@Black_Open_Line_Circle</string>
		<string>copyright</string>
		<string>InstanceItalic@Book_Line_Square</string>
		<string>yen</string>
		<string>asterisk</string>
		<string>onequarter</string>
		<string>edieresis</string>
		<string>Eacute</string>
		<string>hyphen</string>
		<string>InstanceItalic@Bold_Plus</string>
		<string>oslash</string>
		<string>InstanceItalic@Semibold_Line_Square</string>
		<string>ecircumflex</string>
		<string>greater</string>
		<string>uacute</string>
		<string>L</string>
		<string>InstanceItalic@Bold_Square</string>
		<string>InstanceItalic@Bold_Line_Circle</string>
		<string>b</string>
		<string>five</string>
		<string>T</string>
		<string>underscore</string>
		<string>X</string>
		<string>Idieresis</string>
		<string>cedilla</string>
		<string>Udieresis</string>
		<string>acute</string>
		<string>Instance@Semibold_Circle</string>
		<string>bar</string>
		<string>d</string>
		<string>quotesingle</string>
		<string>h</string>
		<string>InstanceItalic@Regular_Open_Line_Square</string>
		<string>NOTInstance@Black_Open_Line_Circle</string>
		<string>l</string>
		<string>Igrave</string>
		<string>p</string>
		<string>Instance@Book_Circle</string>
		<string>t</string>
		<string>x</string>
		<string>exclamdown</string>
		<string>parenright</string>
		<string>A</string>
		<string>u</string>
		<string>ordfeminine</string>
		<string>Y</string>
		<string>InstanceItalic@Book_Open_Circle</string>
		<string>InstanceItalic@Bold_Open_Square</string>
		<string>InstanceItalic@Book_Plus</string>
		<string>Instance@Book_Square</string>
		<string>Ocircumflex</string>
		<string>zero</string>
		<string>InstanceItalic@Book_Line_Circle</string>
		<string>logicalnot</string>
		<string>agrave</string>
		<string>Instance@Semibold_Open_Line_Circle</string>
		<string>InstanceItalic@Regular_Plus</string>
		<string>braceleft</string>
		<string>InstanceItalic@Regular_Square</string>
		<string>egrave</string>
		<string>Adieresis</string>
		<string>odieresis</string>
		<string>Odieresis</string>
		<string>space</string>
		<string>Instance@Regular_Line_Square</string>
		<string>section</string>
		<string>macron</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>ntilde</string>
		<string>InstanceItalic@Bold_Circle</string>
		<string>ucircumflex</string>
		<string>slash</string>
		<string>atilde</string>
		<string>Acircumflex</string>
		<string>numbersign</string>
		<string>dotaccent</string>
		<string>NOTInstance@Black_Square</string>
		<string>Oslash</string>
		<string>C</string>
		<string>degree</string>
		<string>InstanceItalic@Book_Circle</string>
		<string>InstanceItalic@Book_Open_Square</string>
		<string>K</string>
		<string>O</string>
		<string>NOTInstance@Black_Open_Line_Square</string>
		<string>S</string>
		<string>guillemotright</string>
		<string>Instance@Regular_Line_Circle</string>
		<string>W</string>
		<string>NOTInstanceItalic@Black_Line_Circle</string>
		<string>exclam</string>
		<string>r</string>
		<string>Instance@Regular_Open_Line_Square</string>
		<string>c</string>
		<string>Instance@Book_Open_Circle</string>
		<string>g</string>
		<string>tilde</string>
		<string>k</string>
		<string>equal</string>
		<string>o</string>
		<string>Edieresis</string>
		<string>s</string>
		<string>plus</string>
		<string>w</string>
		<string>eight</string>
		<string>eth</string>
		<string>threesuperior</string>
		<string>Eth</string>
		<string>udieresis</string>
		<string>Egrave</string>
		<string>Instance@Semibold_Open_Circle</string>
		<string>divide</string>
		<string>Instance@Semibold_Open_Square</string>
		<string>InstanceItalic@Book_Open_Line_Circle</string>
		<string>ocircumflex</string>
		<string>period</string>
		<string>igrave</string>
		<string>one</string>
		<string>acircumflex</string>
		<string>asciitilde</string>
		<string>colon</string>
		<string>Instance@Semibold_Line_Circle</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>parenleft</string>
		<string>Ecircumflex</string>
		<string>InstanceItalic@Regular_Line_Square</string>
		<string>question</string>
		<string>Aacute</string>
		<string>cent</string>
		<string>quoteleft</string>
		<string>InstanceItalic@Semibold_Line_Circle</string>
		<string>otilde</string>
		<string>E</string>
		<string>InstanceItalic@Book_Square</string>
		<string>Instance@Regular_Plus</string>
		<string>B</string>
		<string>iacute</string>
		<string>F</string>
		<string>registered</string>
		<string>J</string>
		<string>Instance@Bold_Square</string>
		<string>Aring</string>
		<string>Otilde</string>
		<string>dieresis</string>
		<string>Instance@Bold_Plus</string>
		<string>bracketleft</string>
		<string>z</string>
		<string>breve</string>
		<string>asciicircum</string>
		<string>Z</string>
		<string>Oacute</string>
		<string>ampersand</string>
		<string>guillemotleft</string>
		<string>onesuperior</string>
		<string>f</string>
		<string>ordmasculine</string>
		<string>j</string>
		<string>n</string>
		<string>mu</string>
		<string>Instance@Bold_Open_Square</string>
		<string>paragraph</string>
		<string>nine</string>
		<string>three</string>
		<string>circumflex</string>
		<string>v</string>
		<string>Ccedilla</string>
		<string>idieresis</string>
		<string>minus</string>
		<string>braceright</string>
		<string>InstanceItalic@Semibold_Square</string>
		<string>seven</string>
		<string>ae</string>
		<string>semicolon</string>
		<string>brokenbar</string>
		<string>InstanceItalic@Bold_Open_Line_Square</string>
		<string>backslash</string>
		<string>InstanceItalic@Semibold_Open_Line_Square</string>
		<string>G</string>
		<string>currency</string>
		<string>ugrave</string>
		<string>Ucircumflex</string>
		<string>at</string>
		<string>Instance@Regular_Circle</string>
		<string>Iacute</string>
		<string>D</string>
		<string>InstanceItalic@Regular_Open_Circle</string>
		<string>dotlessi</string>
		<string>NOTInstanceItalic@Black_Circle</string>
		<string>periodcentered</string>
		<string>Uacute</string>
		<string>six</string>
		<string>percent</string>
		<string>Ugrave</string>
		<string>threequarters</string>
		<string>InstanceItalic@Bold_Line_Square</string>
		<string>yacute</string>
		<string>NOTInstanceItalic@Black_Open_Square</string>
		<string>Instance@Book_Line_Circle</string>
		<string>caron</string>
		<string>quoteright</string>
		<string>adieresis</string>
		<string>bracketright</string>
		<string>sterling</string>
		<string>ydieresis</string>
		<string>quotedbl</string>
		<string>AE</string>
		<string>Agrave</string>
		<string>onehalf</string>
		<string>NOTInstance@Black_Line_Circle</string>
		<string>Thorn</string>
		<string>M</string>
		<string>aacute</string>
		<string>Q</string>
		<string>Instance@Semibold_Open_Line_Square</string>
		<string>U</string>
		<string>two</string>
		<string>multiply</string>
		<string>eacute</string>
		<string>twosuperior</string>
		<string>N</string>
		<string>grave</string>
		<string>germandbls</string>
		<string>a</string>
		<string>Instance@Bold_Line_Circle</string>
		<string>e</string>
		<string>four</string>
		<string>P</string>
		<string>i</string>
		<string>thorn</string>
		<string>ogonek</string>
		<string>m</string>
		<string>q</string>
		<string>Ograve</string>
		<string>R</string>
		<string>icircumflex</string>
		<string>H</string>
		<string>y</string>
		<string>InstanceItalic@Regular_Line_Circle</string>
		<string>questiondown</string>
		<string>oacute</string>
		<string>Instance@Regular_Open_Square</string>
		<string>NOTInstance@Black_Line_Square</string>
		<string>NOTInstanceItalic@Black_Line_Square</string>
		<string>InstanceItalic@Semibold_Plus</string>
		<string>Instance@Bold_Open_Circle</string>
		<string>Instance@Semibold_Line_Square</string>
		<string>Instance@Semibold_Plus</string>
		<string>NOTInstance@Black_Circle</string>
		<string>InstanceItalic@Regular_Open_Line_Circle</string>
		<string>InstanceItalic@Semibold_Open_Line_Circle</string>
		<string>InstanceItalic@Book_Open_Line_Square</string>
		<string>Instance@Book_Open_Square</string>
		<string>Instance@Bold_Line_Square</string>
		<string>InstanceItalic@Regular_Circle</string>
		<string>NOTInstance@Black_Open_Circle</string>
		<string>NOTInstance@Black_Plus</string>
		<string>NOTInstanceItalic@Black_Open_Circle</string>
		<string>NOTInstanceItalic@Black_Open_Line_Square</string>
		<string>NOTInstance@Black_Open_Square</string>
		<string>Instance@Bold_Open_Line_Circle</string>
		<string>InstanceItalic@Bold_Open_Line_Circle</string>
		<string>Instance@Book_Plus</string>
		<string>Instance@Semibold_Square</string>
		<string>NOTInstanceItalic@Black_Plus</string>
		<string>Instance@Book_Open_Line_Circle</string>
		<string>InstanceItalic@Bold_Open_Circle</string>
		<string>NOTInstanceItalic@Black_Square</string>
		<string>Instance@Regular_Open_Line_Circle</string>
		<string>InstanceItalic@Semibold_Circle</string>
		<string>pixel</string>
		<string>matrix.italic</string>
		<string>matrix</string>
	</array>
	<key>tnCurvePalet</key>
	<dict>
		<key>sliderBottomMax</key>
		<integer>80</integer>
		<key>sliderBottomMin</key>
		<integer>30</integer>
		<key>sliderTopMax</key>
		<integer>80</integer>
		<key>sliderTopMin</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
