<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_A_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_quote</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_E_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_E_xc</key>
	<dict>
		<key>@MMK_R_W_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_f_xa_xd_it</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>fi.xa_xd</key>
		<integer>-100</integer>
		<key>fl.xa_xd</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_H_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_H_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
		<key>Jcircumflex.xc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_IMR0</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_IMR0_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_IMR0_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_IMR1down</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_IMR1up</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_quote</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_K_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_K_xc</key>
	<dict>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_T_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_f_xa</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_quote</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>fi.xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_L_sc</key>
	<dict>
		<key>@MMK_R_T_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_W_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_sc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_L_xc</key>
	<dict>
		<key>@MMK_R_T_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_V_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_W_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_f_xa</key>
		<integer>-100</integer>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>fl.xa</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_P_xc</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_R_sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_R_xc</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_AE_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_A_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_O_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_S_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_a_it</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-300</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-200</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-200</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_T_xc</key>
	<dict>
		<key>@MMK_R_AE_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_A_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_H_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_IML0_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_O_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_S_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_T_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_U_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_W_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_Z_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-200</integer>
		<key>@MMK_R_ampersand</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>@MMK_R_f</key>
		<integer>-200</integer>
		<key>@MMK_R_f_xa</key>
		<integer>-100</integer>
		<key>@MMK_R_f_xa_xd_it</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_n</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
		<key>@MMK_R_y</key>
		<integer>-100</integer>
		<key>@MMK_R_z</key>
		<integer>-100</integer>
		<key>J.sc</key>
		<integer>-100</integer>
		<key>J.sc_xd</key>
		<integer>-100</integer>
		<key>f.xa</key>
		<integer>-100</integer>
		<key>fi.xa</key>
		<integer>-100</integer>
		<key>fi.xa_xd</key>
		<integer>-100</integer>
		<key>fl.xa</key>
		<integer>-100</integer>
		<key>fl.xa_xd</key>
		<integer>-100</integer>
		<key>p.xd_nct</key>
		<integer>-100</integer>
		<key>y.nct</key>
		<integer>-100</integer>
		<key>y.xd</key>
		<integer>-100</integer>
		<key>y.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V_xc</key>
	<dict>
		<key>@MMK_R_AE_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_AE</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y_xc</key>
	<dict>
		<key>@MMK_R_AE_sc</key>
		<integer>-100</integer>
		<key>@MMK_R_AE_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>Jcircumflex</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_Z_xc</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_ampersand</key>
	<dict>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_bar</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_bracketleft</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_bracketleft_xa</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_quoteright_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_exclam</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_exclamdown</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_bracketright_xa</key>
		<integer>100</integer>
		<key>@MMK_R_comma</key>
		<integer>-200</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_guillemotleft</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_guillemotright</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_guillemotright_xc</key>
	<dict>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-200</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>f.xa</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_hyphen_xc</key>
	<dict>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_iMR0</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_mu</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_question_xa</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_ord</key>
	<dict>
		<key>@MMK_R_H_sc</key>
		<integer>100</integer>
		<key>@MMK_R_IML0_sc</key>
		<integer>100</integer>
		<key>@MMK_R_O_sc</key>
		<integer>100</integer>
		<key>@MMK_R_iML1up</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_paragraph</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_percent</key>
	<dict>
		<key>@MMK_R_H_sc</key>
		<integer>100</integer>
		<key>@MMK_R_IML0</key>
		<integer>100</integer>
		<key>@MMK_R_IML0_sc</key>
		<integer>100</integer>
		<key>@MMK_R_O_sc</key>
		<integer>100</integer>
		<key>@MMK_R_iML1up</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_questiondown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>f.xa</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_exclamdown</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_quoteleft_xc</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_exclamdown</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-100</integer>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
		<key>p.xd_nct</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_superior</key>
	<dict>
		<key>@MMK_R_H_sc</key>
		<integer>100</integer>
		<key>@MMK_R_IML0_sc</key>
		<integer>100</integer>
		<key>@MMK_R_O_sc</key>
		<integer>100</integer>
		<key>@MMK_R_iML1up</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>Euro</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
	</dict>
	<key>F.xc</key>
	<dict>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_guillemotleft</key>
		<integer>-100</integer>
		<key>@MMK_R_guillemotright</key>
		<integer>-100</integer>
		<key>J</key>
		<integer>100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>100</integer>
	</dict>
	<key>J.sc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
	</dict>
	<key>J.xc</key>
	<dict>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
		<key>J</key>
		<integer>100</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-100</integer>
	</dict>
	<key>f.xa</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>greater.xc</key>
	<dict>
		<key>one.xc</key>
		<integer>-100</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>j</key>
		<integer>100</integer>
	</dict>
	<key>one.xc</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
		<key>less.xc</key>
		<integer>-100</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_T_xc</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>J.sc</key>
		<integer>100</integer>
		<key>J.xc</key>
		<integer>100</integer>
	</dict>
	<key>seven.xc</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>semicolon</key>
		<integer>-100</integer>
	</dict>
	<key>two.xc</key>
	<dict>
		<key>colon</key>
		<integer>-100</integer>
	</dict>
</dict>
</plist>
