<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>foreground</string>
		<string>glyphs</string>
	</array>
	<array>
		<string>freetype</string>
		<string>glyphs.freetype</string>
	</array>
	<array>
		<string>AutoSpacerOverlap</string>
		<string>glyphs.A_utoS_pacerO_verlap</string>
	</array>
	<array>
		<string>weight800</string>
		<string>glyphs.weight800</string>
	</array>
	<array>
		<string>AutoSpace</string>
		<string>glyphs.A_utoS_pace</string>
	</array>
	<array>
		<string>@weight.800</string>
		<string>glyphs.@weight.800</string>
	</array>
	<array>
		<string>AutoSpaceBarRegion</string>
		<string>glyphs.A_utoS_paceB_arR_egion</string>
	</array>
	<array>
		<string>robohint</string>
		<string>glyphs.robohint</string>
	</array>
	<array>
		<string>AutoSpacerDebug</string>
		<string>glyphs.A_utoS_pacerD_ebug</string>
	</array>
	<array>
		<string>AutoSpaceOverlap</string>
		<string>glyphs.A_utoS_paceO_verlap</string>
	</array>
	<array>
		<string>background</string>
		<string>glyphs.background</string>
	</array>
	<array>
		<string>AutoSpaceBar</string>
		<string>glyphs.A_utoS_paceB_ar</string>
	</array>
	<array>
		<string>model</string>
		<string>glyphs.model</string>
	</array>
	<array>
		<string>AutoSpacer</string>
		<string>glyphs.A_utoS_pacer</string>
	</array>
	<array>
		<string>fbInterpolate</string>
		<string>glyphs.fbI_nterpolate</string>
	</array>
	<array>
		<string>noverlap</string>
		<string>glyphs.noverlap</string>
	</array>
</array>
</plist>
