<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Pix01@00</key>
    <string>P_ix01@00.glif</string>
    <key>Pix01@00_i</key>
    <string>P_ix01@00_i.glif</string>
    <key>Pix01@01</key>
    <string>P_ix01@01.glif</string>
    <key>Pix01@01_i</key>
    <string>P_ix01@01_i.glif</string>
    <key>Pix01@10</key>
    <string>P_ix01@10.glif</string>
    <key>Pix01@10_i</key>
    <string>P_ix01@10_i.glif</string>
    <key>Pix01@11</key>
    <string>P_ix01@11.glif</string>
    <key>Pix01@11_i</key>
    <string>P_ix01@11_i.glif</string>
    <key>Pix01@20</key>
    <string>P_ix01@20.glif</string>
    <key>Pix01@20_i</key>
    <string>P_ix01@20_i.glif</string>
    <key>Pix01@21</key>
    <string>P_ix01@21.glif</string>
    <key>Pix01@21_i</key>
    <string>P_ix01@21_i.glif</string>
    <key>Pix02@00</key>
    <string>P_ix02@00.glif</string>
    <key>Pix02@00_i</key>
    <string>P_ix02@00_i.glif</string>
    <key>Pix02@01</key>
    <string>P_ix02@01.glif</string>
    <key>Pix02@01_i</key>
    <string>P_ix02@01_i.glif</string>
    <key>Pix02@10</key>
    <string>P_ix02@10.glif</string>
    <key>Pix02@10_i</key>
    <string>P_ix02@10_i.glif</string>
    <key>Pix02@11</key>
    <string>P_ix02@11.glif</string>
    <key>Pix02@11_i</key>
    <string>P_ix02@11_i.glif</string>
    <key>Pix02@20</key>
    <string>P_ix02@20.glif</string>
    <key>Pix02@20_i</key>
    <string>P_ix02@20_i.glif</string>
    <key>Pix02@21</key>
    <string>P_ix02@21.glif</string>
    <key>Pix02@21_i</key>
    <string>P_ix02@21_i.glif</string>
    <key>Pix03@00</key>
    <string>P_ix03@00.glif</string>
    <key>Pix03@00_i</key>
    <string>P_ix03@00_i.glif</string>
    <key>Pix03@01</key>
    <string>P_ix03@01.glif</string>
    <key>Pix03@01_i</key>
    <string>P_ix03@01_i.glif</string>
    <key>Pix03@10</key>
    <string>P_ix03@10.glif</string>
    <key>Pix03@10_i</key>
    <string>P_ix03@10_i.glif</string>
    <key>Pix03@11</key>
    <string>P_ix03@11.glif</string>
    <key>Pix03@11_i</key>
    <string>P_ix03@11_i.glif</string>
    <key>Pix03@20</key>
    <string>P_ix03@20.glif</string>
    <key>Pix03@20_i</key>
    <string>P_ix03@20_i.glif</string>
    <key>Pix03@21</key>
    <string>P_ix03@21.glif</string>
    <key>Pix03@21_i</key>
    <string>P_ix03@21_i.glif</string>
    <key>Pix04@00</key>
    <string>P_ix04@00.glif</string>
    <key>Pix04@00_i</key>
    <string>P_ix04@00_i.glif</string>
    <key>Pix04@01</key>
    <string>P_ix04@01.glif</string>
    <key>Pix04@01_i</key>
    <string>P_ix04@01_i.glif</string>
    <key>Pix04@10</key>
    <string>P_ix04@10.glif</string>
    <key>Pix04@10_i</key>
    <string>P_ix04@10_i.glif</string>
    <key>Pix04@11</key>
    <string>P_ix04@11.glif</string>
    <key>Pix04@11_i</key>
    <string>P_ix04@11_i.glif</string>
    <key>Pix04@20</key>
    <string>P_ix04@20.glif</string>
    <key>Pix04@20_i</key>
    <string>P_ix04@20_i.glif</string>
    <key>Pix04@21</key>
    <string>P_ix04@21.glif</string>
    <key>Pix04@21_i</key>
    <string>P_ix04@21_i.glif</string>
    <key>Pix05@00</key>
    <string>P_ix05@00.glif</string>
    <key>Pix05@00_i</key>
    <string>P_ix05@00_i.glif</string>
    <key>Pix05@01</key>
    <string>P_ix05@01.glif</string>
    <key>Pix05@01_i</key>
    <string>P_ix05@01_i.glif</string>
    <key>Pix05@10</key>
    <string>P_ix05@10.glif</string>
    <key>Pix05@10_i</key>
    <string>P_ix05@10_i.glif</string>
    <key>Pix05@11</key>
    <string>P_ix05@11.glif</string>
    <key>Pix05@11_i</key>
    <string>P_ix05@11_i.glif</string>
    <key>Pix05@20</key>
    <string>P_ix05@20.glif</string>
    <key>Pix05@20_i</key>
    <string>P_ix05@20_i.glif</string>
    <key>Pix05@21</key>
    <string>P_ix05@21.glif</string>
    <key>Pix05@21_i</key>
    <string>P_ix05@21_i.glif</string>
    <key>Pix06@00</key>
    <string>P_ix06@00.glif</string>
    <key>Pix06@00_i</key>
    <string>P_ix06@00_i.glif</string>
    <key>Pix06@01</key>
    <string>P_ix06@01.glif</string>
    <key>Pix06@01_i</key>
    <string>P_ix06@01_i.glif</string>
    <key>Pix06@10</key>
    <string>P_ix06@10.glif</string>
    <key>Pix06@10_i</key>
    <string>P_ix06@10_i.glif</string>
    <key>Pix06@11</key>
    <string>P_ix06@11.glif</string>
    <key>Pix06@11_i</key>
    <string>P_ix06@11_i.glif</string>
    <key>Pix06@20</key>
    <string>P_ix06@20.glif</string>
    <key>Pix06@20_i</key>
    <string>P_ix06@20_i.glif</string>
    <key>Pix06@21</key>
    <string>P_ix06@21.glif</string>
    <key>Pix06@21_i</key>
    <string>P_ix06@21_i.glif</string>
    <key>Pix07@00</key>
    <string>P_ix07@00.glif</string>
    <key>Pix07@00_i</key>
    <string>P_ix07@00_i.glif</string>
    <key>Pix07@01</key>
    <string>P_ix07@01.glif</string>
    <key>Pix07@01_i</key>
    <string>P_ix07@01_i.glif</string>
    <key>Pix07@10</key>
    <string>P_ix07@10.glif</string>
    <key>Pix07@10_i</key>
    <string>P_ix07@10_i.glif</string>
    <key>Pix07@11</key>
    <string>P_ix07@11.glif</string>
    <key>Pix07@11_i</key>
    <string>P_ix07@11_i.glif</string>
    <key>Pix07@20</key>
    <string>P_ix07@20.glif</string>
    <key>Pix07@20_i</key>
    <string>P_ix07@20_i.glif</string>
    <key>Pix07@21</key>
    <string>P_ix07@21.glif</string>
    <key>Pix07@21_i</key>
    <string>P_ix07@21_i.glif</string>
    <key>Pix08@00</key>
    <string>P_ix08@00.glif</string>
    <key>Pix08@00_i</key>
    <string>P_ix08@00_i.glif</string>
    <key>Pix08@01</key>
    <string>P_ix08@01.glif</string>
    <key>Pix08@01_i</key>
    <string>P_ix08@01_i.glif</string>
    <key>Pix08@10</key>
    <string>P_ix08@10.glif</string>
    <key>Pix08@10_i</key>
    <string>P_ix08@10_i.glif</string>
    <key>Pix08@11</key>
    <string>P_ix08@11.glif</string>
    <key>Pix08@11_i</key>
    <string>P_ix08@11_i.glif</string>
    <key>Pix08@20</key>
    <string>P_ix08@20.glif</string>
    <key>Pix08@20_i</key>
    <string>P_ix08@20_i.glif</string>
    <key>Pix08@21</key>
    <string>P_ix08@21.glif</string>
    <key>Pix08@21_i</key>
    <string>P_ix08@21_i.glif</string>
    <key>Pix09@00</key>
    <string>P_ix09@00.glif</string>
    <key>Pix09@00_i</key>
    <string>P_ix09@00_i.glif</string>
    <key>Pix09@01</key>
    <string>P_ix09@01.glif</string>
    <key>Pix09@01_i</key>
    <string>P_ix09@01_i.glif</string>
    <key>Pix09@10</key>
    <string>P_ix09@10.glif</string>
    <key>Pix09@10_i</key>
    <string>P_ix09@10_i.glif</string>
    <key>Pix09@11</key>
    <string>P_ix09@11.glif</string>
    <key>Pix09@11_i</key>
    <string>P_ix09@11_i.glif</string>
    <key>Pix09@20</key>
    <string>P_ix09@20.glif</string>
    <key>Pix09@20_i</key>
    <string>P_ix09@20_i.glif</string>
    <key>Pix09@21</key>
    <string>P_ix09@21.glif</string>
    <key>Pix09@21_i</key>
    <string>P_ix09@21_i.glif</string>
    <key>Pix10@00</key>
    <string>P_ix10@00.glif</string>
    <key>Pix10@00_i</key>
    <string>P_ix10@00_i.glif</string>
    <key>Pix10@01</key>
    <string>P_ix10@01.glif</string>
    <key>Pix10@01_i</key>
    <string>P_ix10@01_i.glif</string>
    <key>Pix10@10</key>
    <string>P_ix10@10.glif</string>
    <key>Pix10@10_i</key>
    <string>P_ix10@10_i.glif</string>
    <key>Pix10@11</key>
    <string>P_ix10@11.glif</string>
    <key>Pix10@11_i</key>
    <string>P_ix10@11_i.glif</string>
    <key>Pix10@20</key>
    <string>P_ix10@20.glif</string>
    <key>Pix10@20_i</key>
    <string>P_ix10@20_i.glif</string>
    <key>Pix10@21</key>
    <string>P_ix10@21.glif</string>
    <key>Pix10@21_i</key>
    <string>P_ix10@21_i.glif</string>
    <key>Pix11@00</key>
    <string>P_ix11@00.glif</string>
    <key>Pix11@00_i</key>
    <string>P_ix11@00_i.glif</string>
    <key>Pix11@01</key>
    <string>P_ix11@01.glif</string>
    <key>Pix11@01_i</key>
    <string>P_ix11@01_i.glif</string>
    <key>Pix11@10</key>
    <string>P_ix11@10.glif</string>
    <key>Pix11@10_i</key>
    <string>P_ix11@10_i.glif</string>
    <key>Pix11@11</key>
    <string>P_ix11@11.glif</string>
    <key>Pix11@11_i</key>
    <string>P_ix11@11_i.glif</string>
    <key>Pix11@20</key>
    <string>P_ix11@20.glif</string>
    <key>Pix11@20_i</key>
    <string>P_ix11@20_i.glif</string>
    <key>Pix11@21</key>
    <string>P_ix11@21.glif</string>
    <key>Pix11@21_i</key>
    <string>P_ix11@21_i.glif</string>
    <key>Pix12@00</key>
    <string>P_ix12@00.glif</string>
    <key>Pix12@00_i</key>
    <string>P_ix12@00_i.glif</string>
    <key>Pix12@01</key>
    <string>P_ix12@01.glif</string>
    <key>Pix12@01_i</key>
    <string>P_ix12@01_i.glif</string>
    <key>Pix12@10</key>
    <string>P_ix12@10.glif</string>
    <key>Pix12@10_i</key>
    <string>P_ix12@10_i.glif</string>
    <key>Pix12@11</key>
    <string>P_ix12@11.glif</string>
    <key>Pix12@11_i</key>
    <string>P_ix12@11_i.glif</string>
    <key>Pix12@20</key>
    <string>P_ix12@20.glif</string>
    <key>Pix12@20_i</key>
    <string>P_ix12@20_i.glif</string>
    <key>Pix12@21</key>
    <string>P_ix12@21.glif</string>
    <key>Pix12@21_i</key>
    <string>P_ix12@21_i.glif</string>
    <key>Pixel@MODEL</key>
    <string>P_ixel@M_O_D_E_L_.glif</string>
    <key>Pixel@MODEL_i</key>
    <string>P_ixel@M_O_D_E_L__i.glif</string>
  </dict>
</plist>
