<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instance@Bold_Circle</key>
	<string>Instance@Bold__Circle_.glif</string>
	<key>Instance@Bold_Line_Circle</key>
	<string>Instance@Bold__Line__Circle_.glif</string>
	<key>Instance@Bold_Line_Square</key>
	<string>Instance@Bold__Line__Square_.glif</string>
	<key>Instance@Bold_Open_Circle</key>
	<string>Instance@Bold__Open__Circle_.glif</string>
	<key>Instance@Bold_Open_Line_Circle</key>
	<string>Instance@Bold__Open__Line__Circle_.glif</string>
	<key>Instance@Bold_Open_Line_Square</key>
	<string>Instance@Bold__Open__Line__Square_.glif</string>
	<key>Instance@Bold_Open_Square</key>
	<string>Instance@Bold__Open__Square_.glif</string>
	<key>Instance@Bold_Plus</key>
	<string>Instance@Bold__Plus_.glif</string>
	<key>Instance@Bold_Square</key>
	<string>Instance@Bold__Square_.glif</string>
	<key>Instance@Book_Circle</key>
	<string>Instance@Book__Circle_.glif</string>
	<key>Instance@Book_Line_Circle</key>
	<string>Instance@Book__Line__Circle_.glif</string>
	<key>Instance@Book_Line_Square</key>
	<string>Instance@Book__Line__Square_.glif</string>
	<key>Instance@Book_Open_Circle</key>
	<string>Instance@Book__Open__Circle_.glif</string>
	<key>Instance@Book_Open_Line_Circle</key>
	<string>Instance@Book__Open__Line__Circle_.glif</string>
	<key>Instance@Book_Open_Line_Square</key>
	<string>Instance@Book__Open__Line__Square_.glif</string>
	<key>Instance@Book_Open_Square</key>
	<string>Instance@Book__Open__Square_.glif</string>
	<key>Instance@Book_Plus</key>
	<string>Instance@Book__Plus_.glif</string>
	<key>Instance@Book_Square</key>
	<string>Instance@Book__Square_.glif</string>
	<key>Instance@Regular_Circle</key>
	<string>Instance@Regular__Circle_.glif</string>
	<key>Instance@Regular_Line_Circle</key>
	<string>Instance@Regular__Line__Circle_.glif</string>
	<key>Instance@Regular_Line_Square</key>
	<string>Instance@Regular__Line__Square_.glif</string>
	<key>Instance@Regular_Open_Circle</key>
	<string>Instance@Regular__Open__Circle_.glif</string>
	<key>Instance@Regular_Open_Line_Circle</key>
	<string>Instance@Regular__Open__Line__Circle_.glif</string>
	<key>Instance@Regular_Open_Line_Square</key>
	<string>Instance@Regular__Open__Line__Square_.glif</string>
	<key>Instance@Regular_Open_Square</key>
	<string>Instance@Regular__Open__Square_.glif</string>
	<key>Instance@Regular_Plus</key>
	<string>Instance@Regular__Plus_.glif</string>
	<key>Instance@Regular_Square</key>
	<string>Instance@Regular__Square_.glif</string>
	<key>Instance@Semibold_Circle</key>
	<string>Instance@Semibold__Circle_.glif</string>
	<key>Instance@Semibold_Line_Circle</key>
	<string>Instance@Semibold__Line__Circle_.glif</string>
	<key>Instance@Semibold_Line_Square</key>
	<string>Instance@Semibold__Line__Square_.glif</string>
	<key>Instance@Semibold_Open_Circle</key>
	<string>Instance@Semibold__Open__Circle_.glif</string>
	<key>Instance@Semibold_Open_Line_Circle</key>
	<string>Instance@Semibold__Open__Line__Circle_.glif</string>
	<key>Instance@Semibold_Open_Line_Square</key>
	<string>Instance@Semibold__Open__Line__Square_.glif</string>
	<key>Instance@Semibold_Open_Square</key>
	<string>Instance@Semibold__Open__Square_.glif</string>
	<key>Instance@Semibold_Plus</key>
	<string>Instance@Semibold__Plus_.glif</string>
	<key>Instance@Semibold_Square</key>
	<string>Instance@Semibold__Square_.glif</string>
	<key>InstanceItalic@Bold_Circle</key>
	<string>InstanceItalic@Bold__Circle_.glif</string>
	<key>InstanceItalic@Bold_Line_Circle</key>
	<string>InstanceItalic@Bold__Line__Circle_.glif</string>
	<key>InstanceItalic@Bold_Line_Square</key>
	<string>InstanceItalic@Bold__Line__Square_.glif</string>
	<key>InstanceItalic@Bold_Open_Circle</key>
	<string>InstanceItalic@Bold__Open__Circle_.glif</string>
	<key>InstanceItalic@Bold_Open_Line_Circle</key>
	<string>InstanceItalic@Bold__Open__Line__Circle_.glif</string>
	<key>InstanceItalic@Bold_Open_Line_Square</key>
	<string>InstanceItalic@Bold__Open__Line__Square_.glif</string>
	<key>InstanceItalic@Bold_Open_Square</key>
	<string>InstanceItalic@Bold__Open__Square_.glif</string>
	<key>InstanceItalic@Bold_Plus</key>
	<string>InstanceItalic@Bold__Plus_.glif</string>
	<key>InstanceItalic@Bold_Square</key>
	<string>InstanceItalic@Bold__Square_.glif</string>
	<key>InstanceItalic@Book_Circle</key>
	<string>InstanceItalic@Book__Circle_.glif</string>
	<key>InstanceItalic@Book_Line_Circle</key>
	<string>InstanceItalic@Book__Line__Circle_.glif</string>
	<key>InstanceItalic@Book_Line_Square</key>
	<string>InstanceItalic@Book__Line__Square_.glif</string>
	<key>InstanceItalic@Book_Open_Circle</key>
	<string>InstanceItalic@Book__Open__Circle_.glif</string>
	<key>InstanceItalic@Book_Open_Line_Circle</key>
	<string>InstanceItalic@Book__Open__Line__Circle_.glif</string>
	<key>InstanceItalic@Book_Open_Line_Square</key>
	<string>InstanceItalic@Book__Open__Line__Square_.glif</string>
	<key>InstanceItalic@Book_Open_Square</key>
	<string>InstanceItalic@Book__Open__Square_.glif</string>
	<key>InstanceItalic@Book_Plus</key>
	<string>InstanceItalic@Book__Plus_.glif</string>
	<key>InstanceItalic@Book_Square</key>
	<string>InstanceItalic@Book__Square_.glif</string>
	<key>InstanceItalic@Regular_Circle</key>
	<string>InstanceItalic@Regular__Circle_.glif</string>
	<key>InstanceItalic@Regular_Line_Circle</key>
	<string>InstanceItalic@Regular__Line__Circle_.glif</string>
	<key>InstanceItalic@Regular_Line_Square</key>
	<string>InstanceItalic@Regular__Line__Square_.glif</string>
	<key>InstanceItalic@Regular_Open_Circle</key>
	<string>InstanceItalic@Regular__Open__Circle_.glif</string>
	<key>InstanceItalic@Regular_Open_Line_Circle</key>
	<string>InstanceItalic@Regular__Open__Line__Circle_.glif</string>
	<key>InstanceItalic@Regular_Open_Line_Square</key>
	<string>InstanceItalic@Regular__Open__Line__Square_.glif</string>
	<key>InstanceItalic@Regular_Open_Square</key>
	<string>InstanceItalic@Regular__Open__Square_.glif</string>
	<key>InstanceItalic@Regular_Plus</key>
	<string>InstanceItalic@Regular__Plus_.glif</string>
	<key>InstanceItalic@Regular_Square</key>
	<string>InstanceItalic@Regular__Square_.glif</string>
	<key>InstanceItalic@Semibold_Circle</key>
	<string>InstanceItalic@Semibold__Circle_.glif</string>
	<key>InstanceItalic@Semibold_Line_Circle</key>
	<string>InstanceItalic@Semibold__Line__Circle_.glif</string>
	<key>InstanceItalic@Semibold_Line_Square</key>
	<string>InstanceItalic@Semibold__Line__Square_.glif</string>
	<key>InstanceItalic@Semibold_Open_Circle</key>
	<string>InstanceItalic@Semibold__Open__Circle_.glif</string>
	<key>InstanceItalic@Semibold_Open_Line_Circle</key>
	<string>InstanceItalic@Semibold__Open__Line__Circle_.glif</string>
	<key>InstanceItalic@Semibold_Open_Line_Square</key>
	<string>InstanceItalic@Semibold__Open__Line__Square_.glif</string>
	<key>InstanceItalic@Semibold_Open_Square</key>
	<string>InstanceItalic@Semibold__Open__Square_.glif</string>
	<key>InstanceItalic@Semibold_Plus</key>
	<string>InstanceItalic@Semibold__Plus_.glif</string>
	<key>InstanceItalic@Semibold_Square</key>
	<string>InstanceItalic@Semibold__Square_.glif</string>
	<key>NOTInstance@Black_Circle</key>
	<string>NOTInstance@Black__Circle_.glif</string>
	<key>NOTInstance@Black_Line_Circle</key>
	<string>NOTInstance@Black__Line__Circle_.glif</string>
	<key>NOTInstance@Black_Line_Square</key>
	<string>NOTInstance@Black__Line__Square_.glif</string>
	<key>NOTInstance@Black_Open_Circle</key>
	<string>NOTInstance@Black__Open__Circle_.glif</string>
	<key>NOTInstance@Black_Open_Line_Circle</key>
	<string>NOTInstance@Black__Open__Line__Circle_.glif</string>
	<key>NOTInstance@Black_Open_Line_Square</key>
	<string>NOTInstance@Black__Open__Line__Square_.glif</string>
	<key>NOTInstance@Black_Open_Square</key>
	<string>NOTInstance@Black__Open__Square_.glif</string>
	<key>NOTInstance@Black_Plus</key>
	<string>NOTInstance@Black__Plus_.glif</string>
	<key>NOTInstance@Black_Square</key>
	<string>NOTInstance@Black__Square_.glif</string>
	<key>NOTInstanceItalic@Black_Circle</key>
	<string>NOTInstanceItalic@Black__Circle_.glif</string>
	<key>NOTInstanceItalic@Black_Line_Circle</key>
	<string>NOTInstanceItalic@Black__Line__Circle_.glif</string>
	<key>NOTInstanceItalic@Black_Line_Square</key>
	<string>NOTInstanceItalic@Black__Line__Square_.glif</string>
	<key>NOTInstanceItalic@Black_Open_Circle</key>
	<string>NOTInstanceItalic@Black__Open__Circle_.glif</string>
	<key>NOTInstanceItalic@Black_Open_Line_Circle</key>
	<string>NOTInstanceItalic@Black__Open__Line__Circle_.glif</string>
	<key>NOTInstanceItalic@Black_Open_Line_Square</key>
	<string>NOTInstanceItalic@Black__Open__Line__Square_.glif</string>
	<key>NOTInstanceItalic@Black_Open_Square</key>
	<string>NOTInstanceItalic@Black__Open__Square_.glif</string>
	<key>NOTInstanceItalic@Black_Plus</key>
	<string>NOTInstanceItalic@Black__Plus_.glif</string>
	<key>NOTInstanceItalic@Black_Square</key>
	<string>NOTInstanceItalic@Black__Square_.glif</string>
	<key>matrix</key>
	<string>matrix.glif</string>
	<key>matrix.italic</key>
	<string>matrix.italic.glif</string>
	<key>pixel</key>
	<string>pixel.glif</string>
</dict>
</plist>
