<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.xc</key>
    <string>A_.xc.glif</string>
    <key>Aacute.xc</key>
    <string>A_acute.xc.glif</string>
    <key>Abreve.xc</key>
    <string>A_breve.xc.glif</string>
    <key>Acircumflex.xc</key>
    <string>A_circumflex.xc.glif</string>
    <key>Adieresis.xc</key>
    <string>A_dieresis.xc.glif</string>
    <key>Agrave.xc</key>
    <string>A_grave.xc.glif</string>
    <key>Amacron.xc</key>
    <string>A_macron.xc.glif</string>
    <key>Aogonek.xc</key>
    <string>A_ogonek.xc.glif</string>
    <key>Aring.xc</key>
    <string>A_ring.xc.glif</string>
    <key>Aringacute.xc</key>
    <string>A_ringacute.xc.glif</string>
    <key>Atilde.xc</key>
    <string>A_tilde.xc.glif</string>
    <key>B.xc</key>
    <string>B_.xc.glif</string>
    <key>B.xc_nct</key>
    <string>B_.xc_nct.glif</string>
    <key>C.xc</key>
    <string>C_.xc.glif</string>
    <key>Cacute.xc</key>
    <string>C_acute.xc.glif</string>
    <key>Ccaron.xc</key>
    <string>C_caron.xc.glif</string>
    <key>Ccedilla.xc</key>
    <string>C_cedilla.xc.glif</string>
    <key>Ccircumflex.xc</key>
    <string>C_circumflex.xc.glif</string>
    <key>Cdotaccent.xc</key>
    <string>C_dotaccent.xc.glif</string>
    <key>D.xc</key>
    <string>D_.xc.glif</string>
    <key>D.xc_nct</key>
    <string>D_.xc_nct.glif</string>
    <key>Dcaron.xc</key>
    <string>D_caron.xc.glif</string>
    <key>Dcaron.xc_nct</key>
    <string>D_caron.xc_nct.glif</string>
    <key>Dcroat.xc</key>
    <string>D_croat.xc.glif</string>
    <key>Dcroat.xc_nct</key>
    <string>D_croat.xc_nct.glif</string>
    <key>Delta.xc</key>
    <string>D_elta.xc.glif</string>
    <key>E.xc</key>
    <string>E_.xc.glif</string>
    <key>Eacute.xc</key>
    <string>E_acute.xc.glif</string>
    <key>Ebreve.xc</key>
    <string>E_breve.xc.glif</string>
    <key>Ecaron.xc</key>
    <string>E_caron.xc.glif</string>
    <key>Ecircumflex.xc</key>
    <string>E_circumflex.xc.glif</string>
    <key>Edieresis.xc</key>
    <string>E_dieresis.xc.glif</string>
    <key>Edotaccent.xc</key>
    <string>E_dotaccent.xc.glif</string>
    <key>Egrave.xc</key>
    <string>E_grave.xc.glif</string>
    <key>Emacron.xc</key>
    <string>E_macron.xc.glif</string>
    <key>Eng.xc</key>
    <string>E_ng.xc.glif</string>
    <key>Eogonek.xc</key>
    <string>E_ogonek.xc.glif</string>
    <key>Eth.xc</key>
    <string>E_th.xc.glif</string>
    <key>Eth.xc_nct</key>
    <string>E_th.xc_nct.glif</string>
    <key>Euro.xc</key>
    <string>E_uro.xc.glif</string>
    <key>F.xc</key>
    <string>F_.xc.glif</string>
    <key>G.xc</key>
    <string>G_.xc.glif</string>
    <key>Gbreve.xc</key>
    <string>G_breve.xc.glif</string>
    <key>Gcaron.xc</key>
    <string>G_caron.xc.glif</string>
    <key>Gcircumflex.xc</key>
    <string>G_circumflex.xc.glif</string>
    <key>Gcommaaccent.xc</key>
    <string>G_commaaccent.xc.glif</string>
    <key>Gdotaccent.xc</key>
    <string>G_dotaccent.xc.glif</string>
    <key>H.xc</key>
    <string>H_.xc.glif</string>
    <key>Hbar.xc</key>
    <string>H_bar.xc.glif</string>
    <key>Hcircumflex.xc</key>
    <string>H_circumflex.xc.glif</string>
    <key>I.xc</key>
    <string>I_.xc.glif</string>
    <key>Iacute.xc</key>
    <string>I_acute.xc.glif</string>
    <key>Ibreve.xc</key>
    <string>I_breve.xc.glif</string>
    <key>Icircumflex.xc</key>
    <string>I_circumflex.xc.glif</string>
    <key>Idieresis.xc</key>
    <string>I_dieresis.xc.glif</string>
    <key>Idotaccent.xc</key>
    <string>I_dotaccent.xc.glif</string>
    <key>Igrave.xc</key>
    <string>I_grave.xc.glif</string>
    <key>Imacron.xc</key>
    <string>I_macron.xc.glif</string>
    <key>Iogonek.xc</key>
    <string>I_ogonek.xc.glif</string>
    <key>Itilde.xc</key>
    <string>I_tilde.xc.glif</string>
    <key>J.xc</key>
    <string>J_.xc.glif</string>
    <key>J.xc_xd</key>
    <string>J_.xc_xd.glif</string>
    <key>Jcircumflex.xc</key>
    <string>J_circumflex.xc.glif</string>
    <key>Jcircumflex.xc_xd</key>
    <string>J_circumflex.xc_xd.glif</string>
    <key>K.xc</key>
    <string>K_.xc.glif</string>
    <key>Kcommaaccent.xc</key>
    <string>K_commaaccent.xc.glif</string>
    <key>L.xc</key>
    <string>L_.xc.glif</string>
    <key>Lacute.xc</key>
    <string>L_acute.xc.glif</string>
    <key>Lcaron.xc</key>
    <string>L_caron.xc.glif</string>
    <key>Lcommaaccent.xc</key>
    <string>L_commaaccent.xc.glif</string>
    <key>Ldot.xc</key>
    <string>L_dot.xc.glif</string>
    <key>Lslash.xc</key>
    <string>L_slash.xc.glif</string>
    <key>N.xc</key>
    <string>N_.xc.glif</string>
    <key>Nacute.xc</key>
    <string>N_acute.xc.glif</string>
    <key>Ncaron.xc</key>
    <string>N_caron.xc.glif</string>
    <key>Ncommaaccent.xc</key>
    <string>N_commaaccent.xc.glif</string>
    <key>Ntilde.xc</key>
    <string>N_tilde.xc.glif</string>
    <key>O.xc</key>
    <string>O_.xc.glif</string>
    <key>O.xc_nct</key>
    <string>O_.xc_nct.glif</string>
    <key>Oacute.xc</key>
    <string>O_acute.xc.glif</string>
    <key>Oacute.xc_nct</key>
    <string>O_acute.xc_nct.glif</string>
    <key>Obreve.xc</key>
    <string>O_breve.xc.glif</string>
    <key>Obreve.xc_nct</key>
    <string>O_breve.xc_nct.glif</string>
    <key>Ocircumflex.xc</key>
    <string>O_circumflex.xc.glif</string>
    <key>Ocircumflex.xc_nct</key>
    <string>O_circumflex.xc_nct.glif</string>
    <key>Odieresis.xc</key>
    <string>O_dieresis.xc.glif</string>
    <key>Odieresis.xc_nct</key>
    <string>O_dieresis.xc_nct.glif</string>
    <key>Ograve.xc</key>
    <string>O_grave.xc.glif</string>
    <key>Ograve.xc_nct</key>
    <string>O_grave.xc_nct.glif</string>
    <key>Ohungarumlaut.xc</key>
    <string>O_hungarumlaut.xc.glif</string>
    <key>Ohungarumlaut.xc_nct</key>
    <string>O_hungarumlaut.xc_nct.glif</string>
    <key>Omacron.xc</key>
    <string>O_macron.xc.glif</string>
    <key>Omacron.xc_nct</key>
    <string>O_macron.xc_nct.glif</string>
    <key>Omega.xc</key>
    <string>O_mega.xc.glif</string>
    <key>Oslash.xc</key>
    <string>O_slash.xc.glif</string>
    <key>Oslashacute.xc</key>
    <string>O_slashacute.xc.glif</string>
    <key>Otilde.xc</key>
    <string>O_tilde.xc.glif</string>
    <key>Otilde.xc_nct</key>
    <string>O_tilde.xc_nct.glif</string>
    <key>P.xc</key>
    <string>P_.xc.glif</string>
    <key>P.xc_nct</key>
    <string>P_.xc_nct.glif</string>
    <key>Q.xc</key>
    <string>Q_.xc.glif</string>
    <key>Q.xc_nct</key>
    <string>Q_.xc_nct.glif</string>
    <key>R.xc</key>
    <string>R_.xc.glif</string>
    <key>R.xc_nct</key>
    <string>R_.xc_nct.glif</string>
    <key>Racute.xc</key>
    <string>R_acute.xc.glif</string>
    <key>Racute.xc_nct</key>
    <string>R_acute.xc_nct.glif</string>
    <key>Rcaron.xc</key>
    <string>R_caron.xc.glif</string>
    <key>Rcaron.xc_nct</key>
    <string>R_caron.xc_nct.glif</string>
    <key>Rcedilla.xc</key>
    <string>R_cedilla.xc.glif</string>
    <key>Rcedilla.xc_nct</key>
    <string>R_cedilla.xc_nct.glif</string>
    <key>Rcommaaccent.xc</key>
    <string>R_commaaccent.xc.glif</string>
    <key>Rcommaaccent.xc_nct</key>
    <string>R_commaaccent.xc_nct.glif</string>
    <key>S.xc</key>
    <string>S_.xc.glif</string>
    <key>Sacute.xc</key>
    <string>S_acute.xc.glif</string>
    <key>Scaron.xc</key>
    <string>S_caron.xc.glif</string>
    <key>Scedilla.xc</key>
    <string>S_cedilla.xc.glif</string>
    <key>Scircumflex.xc</key>
    <string>S_circumflex.xc.glif</string>
    <key>Scommaaccent.xc</key>
    <string>S_commaaccent.xc.glif</string>
    <key>T.xc</key>
    <string>T_.xc.glif</string>
    <key>Tbar.xc</key>
    <string>T_bar.xc.glif</string>
    <key>Tcaron.xc</key>
    <string>T_caron.xc.glif</string>
    <key>Tcedilla.xc</key>
    <string>T_cedilla.xc.glif</string>
    <key>Tcommaaccent.xc</key>
    <string>T_commaaccent.xc.glif</string>
    <key>Thorn.xc</key>
    <string>T_horn.xc.glif</string>
    <key>Thorn.xc_nct</key>
    <string>T_horn.xc_nct.glif</string>
    <key>U.xc</key>
    <string>U_.xc.glif</string>
    <key>Uacute.xc</key>
    <string>U_acute.xc.glif</string>
    <key>Ubreve.xc</key>
    <string>U_breve.xc.glif</string>
    <key>Ucircumflex.xc</key>
    <string>U_circumflex.xc.glif</string>
    <key>Udieresis.xc</key>
    <string>U_dieresis.xc.glif</string>
    <key>Ugrave.xc</key>
    <string>U_grave.xc.glif</string>
    <key>Uhungarumlaut.xc</key>
    <string>U_hungarumlaut.xc.glif</string>
    <key>Umacron.xc</key>
    <string>U_macron.xc.glif</string>
    <key>Uogonek.xc</key>
    <string>U_ogonek.xc.glif</string>
    <key>Uring.xc</key>
    <string>U_ring.xc.glif</string>
    <key>Utilde.xc</key>
    <string>U_tilde.xc.glif</string>
    <key>V.xc</key>
    <string>V_.xc.glif</string>
    <key>X.xc</key>
    <string>X_.xc.glif</string>
    <key>Z.xc</key>
    <string>Z_.xc.glif</string>
    <key>Zacute.xc</key>
    <string>Z_acute.xc.glif</string>
    <key>Zcaron.xc</key>
    <string>Z_caron.xc.glif</string>
    <key>Zdotaccent.xc</key>
    <string>Z_dotaccent.xc.glif</string>
    <key>a.it</key>
    <string>a.it.glif</string>
    <key>a.nct_it</key>
    <string>a.nct_it.glif</string>
    <key>aacute.it</key>
    <string>aacute.it.glif</string>
    <key>aacute.nct_it</key>
    <string>aacute.nct_it.glif</string>
    <key>abreve.it</key>
    <string>abreve.it.glif</string>
    <key>abreve.nct_it</key>
    <string>abreve.nct_it.glif</string>
    <key>acircumflex.it</key>
    <string>acircumflex.it.glif</string>
    <key>acircumflex.nct_it</key>
    <string>acircumflex.nct_it.glif</string>
    <key>adieresis.it</key>
    <string>adieresis.it.glif</string>
    <key>adieresis.nct_it</key>
    <string>adieresis.nct_it.glif</string>
    <key>agrave.it</key>
    <string>agrave.it.glif</string>
    <key>agrave.nct_it</key>
    <string>agrave.nct_it.glif</string>
    <key>amacron.it</key>
    <string>amacron.it.glif</string>
    <key>amacron.nct_it</key>
    <string>amacron.nct_it.glif</string>
    <key>aogonek.it</key>
    <string>aogonek.it.glif</string>
    <key>aogonek.nct_it</key>
    <string>aogonek.nct_it.glif</string>
    <key>aring.it</key>
    <string>aring.it.glif</string>
    <key>aring.nct_it</key>
    <string>aring.nct_it.glif</string>
    <key>aringacute.it</key>
    <string>aringacute.it.glif</string>
    <key>aringacute.nct_it</key>
    <string>aringacute.nct_it.glif</string>
    <key>atilde.it</key>
    <string>atilde.it.glif</string>
    <key>atilde.nct_it</key>
    <string>atilde.nct_it.glif</string>
    <key>braceleft.xc</key>
    <string>braceleft.xc.glif</string>
    <key>braceright.xc</key>
    <string>braceright.xc.glif</string>
    <key>bracketleft.xc</key>
    <string>bracketleft.xc.glif</string>
    <key>bracketright.xc</key>
    <string>bracketright.xc.glif</string>
    <key>divide.xc</key>
    <string>divide.xc.glif</string>
    <key>dollar.xc</key>
    <string>dollar.xc.glif</string>
    <key>eight.lc_xc</key>
    <string>eight.lc_xc.glif</string>
    <key>eight.lc_xc_nct</key>
    <string>eight.lc_xc_nct.glif</string>
    <key>eight.xc</key>
    <string>eight.xc.glif</string>
    <key>eight.xc_nct</key>
    <string>eight.xc_nct.glif</string>
    <key>emdash.xc</key>
    <string>emdash.xc.glif</string>
    <key>endash.xc</key>
    <string>endash.xc.glif</string>
    <key>equal.xc</key>
    <string>equal.xc.glif</string>
    <key>five.xc</key>
    <string>five.xc.glif</string>
    <key>florin.xc</key>
    <string>florin.xc.glif</string>
    <key>four.lc_xd</key>
    <string>four.lc_xd.glif</string>
    <key>four.xc</key>
    <string>four.xc.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater.xc</key>
    <string>greater.xc.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>greaterequal.xc</key>
    <string>greaterequal.xc.glif</string>
    <key>guillemotleft.xc</key>
    <string>guillemotleft.xc.glif</string>
    <key>guillemotright.xc</key>
    <string>guillemotright.xc.glif</string>
    <key>guilsinglleft.xc</key>
    <string>guilsinglleft.xc.glif</string>
    <key>guilsinglright.xc</key>
    <string>guilsinglright.xc.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less.xc</key>
    <string>less.xc.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lessequal.xc</key>
    <string>lessequal.xc.glif</string>
    <key>logicalnot.xc</key>
    <string>logicalnot.xc.glif</string>
    <key>matrix57</key>
    <string>matrix57.glif</string>
    <key>matrix58</key>
    <string>matrix58.glif</string>
    <key>matrix610</key>
    <string>matrix610.glif</string>
    <key>matrix612</key>
    <string>matrix612.glif</string>
    <key>matrix68</key>
    <string>matrix68.glif</string>
    <key>minus.xc</key>
    <string>minus.xc.glif</string>
    <key>nine.lc_xd</key>
    <string>nine.lc_xd.glif</string>
    <key>nine.lc_xd_nct</key>
    <string>nine.lc_xd_nct.glif</string>
    <key>nine.xc</key>
    <string>nine.xc.glif</string>
    <key>notequal.xc</key>
    <string>notequal.xc.glif</string>
    <key>one.xc</key>
    <string>one.xc.glif</string>
    <key>ordfeminine.xc</key>
    <string>ordfeminine.xc.glif</string>
    <key>ordmasculine.xc</key>
    <string>ordmasculine.xc.glif</string>
    <key>paragraph.xa</key>
    <string>paragraph.xa.glif</string>
    <key>paragraph.xc</key>
    <string>paragraph.xc.glif</string>
    <key>parenleft.xc</key>
    <string>parenleft.xc.glif</string>
    <key>parenright.xc</key>
    <string>parenright.xc.glif</string>
    <key>partialdiff.xc</key>
    <string>partialdiff.xc.glif</string>
    <key>percent.xc</key>
    <string>percent.xc.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>perthousand.xc</key>
    <string>perthousand.xc.glif</string>
    <key>plus.xc</key>
    <string>plus.xc.glif</string>
    <key>plusminus.xc</key>
    <string>plusminus.xc.glif</string>
    <key>quotedbl.xc</key>
    <string>quotedbl.xc.glif</string>
    <key>quotedblleft.xc</key>
    <string>quotedblleft.xc.glif</string>
    <key>quotedblright.xc</key>
    <string>quotedblright.xc.glif</string>
    <key>quoteleft.xc</key>
    <string>quoteleft.xc.glif</string>
    <key>quoteright.xc</key>
    <string>quoteright.xc.glif</string>
    <key>quotesingle.xc</key>
    <string>quotesingle.xc.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>section.xc</key>
    <string>section.xc.glif</string>
    <key>seven.lc_xd</key>
    <string>seven.lc_xd.glif</string>
    <key>seven.xc</key>
    <string>seven.xc.glif</string>
    <key>six.lc_xc</key>
    <string>six.lc_xc.glif</string>
    <key>six.lc_xc_nct</key>
    <string>six.lc_xc_nct.glif</string>
    <key>six.xc</key>
    <string>six.xc.glif</string>
    <key>sterling.xc</key>
    <string>sterling.xc.glif</string>
    <key>summation.xc</key>
    <string>summation.xc.glif</string>
    <key>three.lc_xd</key>
    <string>three.lc_xd.glif</string>
    <key>three.xc</key>
    <string>three.xc.glif</string>
    <key>two.xc</key>
    <string>two.xc.glif</string>
    <key>y.nct</key>
    <string>y.nct.glif</string>
    <key>y.xd</key>
    <string>y.xd.glif</string>
    <key>y.xd_nct</key>
    <string>y.xd_nct.glif</string>
    <key>yacute.nct</key>
    <string>yacute.nct.glif</string>
    <key>yacute.xd</key>
    <string>yacute.xd.glif</string>
    <key>yacute.xd_nct</key>
    <string>yacute.xd_nct.glif</string>
    <key>ycircumflex.nct</key>
    <string>ycircumflex.nct.glif</string>
    <key>ycircumflex.xd</key>
    <string>ycircumflex.xd.glif</string>
    <key>ycircumflex.xd_nct</key>
    <string>ycircumflex.xd_nct.glif</string>
    <key>ydieresis.nct</key>
    <string>ydieresis.nct.glif</string>
    <key>ydieresis.xd</key>
    <string>ydieresis.xd.glif</string>
    <key>ydieresis.xd_nct</key>
    <string>ydieresis.xd_nct.glif</string>
    <key>ygrave.nct</key>
    <string>ygrave.nct.glif</string>
    <key>ygrave.xd</key>
    <string>ygrave.xd.glif</string>
    <key>ygrave.xd_nct</key>
    <string>ygrave.xd_nct.glif</string>
    <key>zero.slash_xc</key>
    <string>zero.slash_xc.glif</string>
    <key>zero.xc</key>
    <string>zero.xc.glif</string>
  </dict>
</plist>
