<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>700</integer>
	<key>capHeight</key>
	<integer>600</integer>
	<key>copyright</key>
	<string>(c) Copyright 1980 Petr van Blokland (buro@petr.com) Original design, (c) 2016 TYPETR Major modifications and extensions.</string>
	<key>descender</key>
	<integer>-300</integer>
	<key>familyName</key>
	<string>Bitcount Mono Double</string>
	<key>italicAngle</key>
	<integer>0</integer>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>8</integer>
	<key>openTypeHheaAscender</key>
	<integer>840</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-360</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>The Bitcount project (then called "five-seven") started in the late 70's as an experiment to find the minimum amount of pixels necessary to define a full set of ASCII characters. Mainstrean as that may seem today, it wasn't at that time. In the modern version of Bitcount a complete glyph set is implementedYES, with OpenType features, various ranges if figures, condensed, slanted, extened capitals and ascenders. Grid (fitting 5x7), Mono (5x10) and Prop (proportional spacing with kerning). There is a Single and Double pixel stem set. And all these variants are availabe in a range of pixels shapes and sizes.</string>
	<key>openTypeNameDesigner</key>
	<string>Petr van Blokland</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://typetr.typenetwork.com</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://store.typenetwork.com/cart/eula/typetr</string>
	<key>openTypeNameManufacturer</key>
	<string>TYPETR</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://typetr.typenetwork.com</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.0</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>225</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>-75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>700</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-300</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>200</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>petr</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>840</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>360</integer>
	<key>postscriptBlueScale</key>
	<real>0.0454545</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>570</integer>
		<integer>575</integer>
		<integer>690</integer>
		<integer>700</integer>
		<integer>703</integer>
		<integer>704</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>BitcountMonoDouble-Regular</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapFamilyName</key>
	<string>BitcountMonoDouble</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Bitcount is a trademark of TYPETR | Buro Petr van Blokland + Claudia Mens</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
	<key>year</key>
	<integer>1980</integer>
</dict>
</plist>
