<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Pix03@10</key>
    <string>P_ix03@10.glif</string>
    <key>Pix06@10</key>
    <string>P_ix06@10.glif</string>
  </dict>
</plist>
